header.header
	.container
		.header_top
			.header_logo
				a(href='/')
					img(src='http://smartscrap.ru/wp-content/themes/your-clean-template-3/img/logo260.png', alt='')
			.textwidget
				p.header_slogan Европейский поставщик скрапа
			.header_info
				a.header_phone(href='tel:+3 572 200-08-57')
					.textwidget +3 572 200-08-57
				br
				a.header_phone(href='tel:+74993504109')
					.textwidget +7 499 350-41-09
			.header_info
				a.btn.btn-fill.header_callback(href='#callback') Заказать обратный звонок
				br
				ul#top-nav-ul.nav.navbar-nav.top-menu.old1
					li.soc-icon.facebook.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-289(id='')
						a(target='_blank', href='https://www.facebook.com/smartscrap1/') Мы в Facebook
					li.soc-icon.twitter.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-290(id='')
						a(target='_blank', href='https://twitter.com/SmartScrapMan') Мы в Twitter
					li.soc-icon.linkedin.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-291(id='')
						a(target='_blank', href='https://www.linkedin.com/in/andrey-korablin-smartscrap/') Мы в LinkedIn
					li.soc-icon.youtube.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-292(id='')
						a(target='_blank', href='https://www.youtube.com/channel/UCL_lPGsYm_44clMwBUDH8ag') Мы в YouTube
			.header_lang
				ul
					li
						a(href='http://smartscrap.net/')
							span.flag-en
								img(src='http://smartscrap.ru/wp-content/themes/your-clean-template-3/img/flags/en.png', alt='')
	.header_nav
		.container
			#topnav.collapse.navbar-collapse
				ul#top-nav-ul.nav.navbar-nav.top-menu
					li#menu-item-129.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-129
						a(href='http://smartscrap.ru/o-nas/') О нас
					li#menu-item-210.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.dropdown.show-on-hover.menu-item-210
						a(href='/mi-prodaem/')
							| Наши продукты
							b.caret
						ul.dropdown-menu
							li#menu-item-251.delimiter.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-251
								a(href='#') Сталеплавильный скрап
							li#menu-item-187.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-187
								a(href='http://smartscrap.ru/steel-tundish-after-eaf/') Разливочный скрап
							li#menu-item-185.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-185
								a(href='http://smartscrap.ru/steel-scrap-after-bof-slag-processing/') Конвертерный скрап
							li#menu-item-186.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-186
								a(href='http://smartscrap.ru/steel-scrap-after-eaf-slag-processing/') Электроплавильный скрап
							li#menu-item-184.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-184
								a(href='http://smartscrap.ru/pig-iron-scrap/') Чугунный скрап в слитках
							li#menu-item-182.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-182
								a(href='http://smartscrap.ru/cast-iron-blocks/') Чугунный скрап в блоках
							li#menu-item-183.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-183
								a(href='http://smartscrap.ru/cast-iron-scrap/') Чугунный скрап
					li#menu-item-246.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-246
						a(href='http://smartscrap.ru/kontrol-kachestva/') Контроль качества
					li#menu-item-209.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.dropdown.show-on-hover.menu-item-209
						a(href='#')
							| Услуги
							b.caret
						ul.dropdown-menu
							li#menu-item-230.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-230
								a(href='http://smartscrap.ru/pererabotka-shlakootvalov/') Переработка шлакоотвалов
							li#menu-item-167.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-167
								a(href='http://smartscrap.ru/nastrojka-jenergorezhimov-jelektro-met/') Настройка электропечей
							li#menu-item-168.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-168
								a(href='http://smartscrap.ru/proizvodstvo-jeffektivnyh-drobilno/') Дробилки
							li#menu-item-208.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-208
								a(href='http://smartscrap.ru/consulting/') Консалтинг
					li#menu-item-340.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-340
						a(href='http://smartscrap.ru/poleznye-video-o-pererabotke-i-ispolzovanii-metallurgicheskih-shlakov/') Полезные видео
					li#menu-item-344.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-344
						a(href='http://smartscrap.ru/mi-pokypaem/') Поставщикам
					li#menu-item-337.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-337
						a(href='http://smartscrap.ru/agentam/') Агентам
					li#menu-item-141.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-141
						a(href='http://smartscrap.ru/contact/') Контакты
					li#menu-item-289.soc-icon.facebook.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-289
						a(target='_blank', href='https://www.facebook.com/smartscrap1/') Мы в Facebook
					li#menu-item-290.soc-icon.twitter.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-290
						a(target='_blank', href='https://twitter.com/SmartScrapMan') Мы в Twitter
					li#menu-item-291.soc-icon.linkedin.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-291
						a(target='_blank', href='https://www.linkedin.com/in/andrey-korablin-9a771962/') Мы в LinkedIn
					li#menu-item-292.soc-icon.youtube.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-292
						a(target='_blank', href='https://www.youtube.com/channel/UC97avp1SC5IGY8OBnj95E4w') Мы в YouTube
	.b-ticker
		.container
			.b-ticker__wrap
				.marquee
					span Current index HMS 1/2 Turkey USD300

