section
	.block-videos
		.container
			.row
				.col-md-12
					.videos
						.item
							iframe(src='https://www.youtube.com/embed/gZF8FLjV1us', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='', width='100%', height='270px', frameborder='0')
							p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, distinctio dicta repudiandae tempore accusantium vel a veniam magni adipisci maxime harum, illo assumenda earum natus.
						.item
							iframe(src='https://www.youtube.com/embed/C_gTbiWUhTg', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='', width='100%', height='270px', frameborder='0')
							p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, distinctio dicta repudiandae tempore accusantium vel a veniam magni adipisci maxime harum, illo assumenda earum natus.
						.item
							iframe(src='https://www.youtube.com/embed/RcmlpZKelcM', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='', width='100%', height='270px', frameborder='0')
							p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, distinctio dicta repudiandae tempore accusantium vel a veniam magni adipisci maxime harum, illo assumenda earum natus.
			.row
				.col-lg-12
					h3 Больше полезных видео смотрите на нашем youtube  канале
					a.btn.btn-fill(href='https://www.youtube.com/channel/UCL_lPGsYm_44clMwBUDH8ag', target='_blank') Перейти на YouTube канал
section
	#b-video.b-video.in-page
		.container
			.section-title
				h2 Мы контролируем качество каждой партии
			.row
				.col-md-offset-1.col-md-10
					.row
						.b-video_wrap
							iframe(src='https://www.youtube.com/embed/yWc_O_CPlrc', allowfullscreen='', width='1000', height='562', frameborder='0')
					p(style='    font-size: 24px;\
					text-align: center;\
					margin-top: -10px;')
					div
						div Перед тем, как предложить скрап, мы выезжаем на
						div
							| производство, отбираем образцы по территории всего шлакового отвала. В дальнейшем эти образцы поступают в лабораторию, в
						div
							| которой они обрабатываются, после чего проводится анализ. Мы предлагаем к поставке с гарантией химического анализа только те
						div источники, в которых результаты анализов были однородными.
					p
					h3(style='    text-align: center;\
					margin-top: 30px;\
					font-size: 31px;color: #57707B;')
					div(style='    text-align: center;\
					margin-top: 20px;')
						a.btn.btn-fill(href='https://www.youtube.com/channel/UCL_lPGsYm_44clMwBUDH8ag', target='_blank') Перейти на YouTube канал
