
<section>
  <div class="block-videos">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="videos">
            <div class="item">
              <iframe src="https://www.youtube.com/embed/gZF8FLjV1us" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="100%" height="270px" frameborder="0"></iframe>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, distinctio dicta repudiandae tempore accusantium vel a veniam magni adipisci maxime harum, illo assumenda earum natus.</p>
            </div>
            <div class="item">
              <iframe src="https://www.youtube.com/embed/C_gTbiWUhTg" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="100%" height="270px" frameborder="0"></iframe>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, distinctio dicta repudiandae tempore accusantium vel a veniam magni adipisci maxime harum, illo assumenda earum natus.</p>
            </div>
            <div class="item">
              <iframe src="https://www.youtube.com/embed/RcmlpZKelcM" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="100%" height="270px" frameborder="0"></iframe>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, distinctio dicta repudiandae tempore accusantium vel a veniam magni adipisci maxime harum, illo assumenda earum natus.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h3>Больше полезных видео смотрите на нашем youtube  канале</h3><a class="btn btn-fill" href="https://www.youtube.com/channel/UCL_lPGsYm_44clMwBUDH8ag" target="_blank">Перейти на YouTube канал</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="b-video in-page" id="b-video">
    <div class="container">
      <div class="section-title">
        <h2>Мы контролируем качество каждой партии</h2>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="row">
            <div class="b-video_wrap">
              <iframe src="https://www.youtube.com/embed/yWc_O_CPlrc" allowfullscreen="" width="1000" height="562" frameborder="0"></iframe>
            </div>
          </div>
          <p style="    font-size: 24px;					text-align: center;					margin-top: -10px;"></p>
          <div>
            <div>Перед тем, как предложить скрап, мы выезжаем на</div>
            <div>производство, отбираем образцы по территории всего шлакового отвала. В дальнейшем эти образцы поступают в лабораторию, в</div>
            <div>которой они обрабатываются, после чего проводится анализ. Мы предлагаем к поставке с гарантией химического анализа только те</div>
            <div>источники, в которых результаты анализов были однородными.</div>
          </div>
          <p></p>
          <h3 style="    text-align: center;					margin-top: 30px;					font-size: 31px;color: #57707B;"></h3>
          <div style="    text-align: center;					margin-top: 20px;"><a class="btn btn-fill" href="https://www.youtube.com/channel/UCL_lPGsYm_44clMwBUDH8ag" target="_blank">Перейти на YouTube канал</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
