html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
body {
	margin: 0
}
article,
aside,
footer,
header,
nav,
section {
	display: block
}
h1 {
	font-size: 2em;
	margin: .67em 0
}
figcaption,
figure,
main {
	display: block
}
figure {
	margin: 1em 40px
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}
pre {
	font-family: monospace, monospace;
	font-size: 1em
}
a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}
a:active,
a:hover {
	outline-width: 0
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted
}
b,
strong {
	font-weight: inherit;
	font-weight: bolder
}
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}
dfn {
	font-style: italic
}
mark {
	background-color: #ff0;
	color: #000
}
small {
	font-size: 80%
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sub {
	bottom: -.25em
}
sup {
	top: -.5em
}
audio,
video {
	display: inline-block
}
audio:not([controls]) {
	display: none;
	height: 0
}
img {
	border-style: none
}
svg:not(:root) {
	overflow: hidden
}
button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}
button,
input {
	overflow: visible
}
button,
select {
	text-transform: none
}
[type=reset],
[type=submit],
button,
html [type=button] {
	-webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}
progress {
	display: inline-block;
	vertical-align: baseline
}
textarea {
	overflow: auto
}
[type=checkbox],
[type=radio] {
	box-sizing: border-box;
	padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto
}
[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}
details,
menu {
	display: block
}
summary {
	display: list-item
}
canvas {
	display: inline-block
}
[hidden],
template {
	display: none
}
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
	content: " ";
	display: table
}
.container-fluid:after,
.container:after,
.row:after {
	clear: both
}
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
	content: " ";
	display: table
}
.container-fluid:after,
.container:after,
.row:after {
	clear: both
}
@media (min-width: 480px) {
	.col-ms-1,
	.col-ms-2,
	.col-ms-3,
	.col-ms-4,
	.col-ms-5,
	.col-ms-6,
	.col-ms-7,
	.col-ms-8,
	.col-ms-9,
	.col-ms-10,
	.col-ms-11,
	.col-ms-12 {
		float: left
	}
	.col-ms-12 {
		width: 100%
	}
	.col-ms-11 {
		width: 91.66666667%
	}
	.col-ms-10 {
		width: 83.33333333%
	}
	.col-ms-9 {
		width: 75%
	}
	.col-ms-8 {
		width: 66.66666667%
	}
	.col-ms-7 {
		width: 58.33333333%
	}
	.col-ms-6 {
		width: 50%
	}
	.col-ms-5 {
		width: 41.66666667%
	}
	.col-ms-4 {
		width: 33.33333333%
	}
	.col-ms-3 {
		width: 25%
	}
	.col-ms-2 {
		width: 16.66666667%
	}
	.col-ms-1 {
		width: 8.33333333%
	}
	.col-ms-pull-12 {
		right: 100%
	}
	.col-ms-pull-11 {
		right: 91.66666667%
	}
	.col-ms-pull-10 {
		right: 83.33333333%
	}
	.col-ms-pull-9 {
		right: 75%
	}
	.col-ms-pull-8 {
		right: 66.66666667%
	}
	.col-ms-pull-7 {
		right: 58.33333333%
	}
	.col-ms-pull-6 {
		right: 50%
	}
	.col-ms-pull-5 {
		right: 41.66666667%
	}
	.col-ms-pull-4 {
		right: 33.33333333%
	}
	.col-ms-pull-3 {
		right: 25%
	}
	.col-ms-pull-2 {
		right: 16.66666667%
	}
	.col-ms-pull-1 {
		right: 8.33333333%
	}
	.col-ms-pull-0 {
		right: auto
	}
	.col-ms-push-12 {
		left: 100%
	}
	.col-ms-push-11 {
		left: 91.66666667%
	}
	.col-ms-push-10 {
		left: 83.33333333%
	}
	.col-ms-push-9 {
		left: 75%
	}
	.col-ms-push-8 {
		left: 66.66666667%
	}
	.col-ms-push-7 {
		left: 58.33333333%
	}
	.col-ms-push-6 {
		left: 50%
	}
	.col-ms-push-5 {
		left: 41.66666667%
	}
	.col-ms-push-4 {
		left: 33.33333333%
	}
	.col-ms-push-3 {
		left: 25%
	}
	.col-ms-push-2 {
		left: 16.66666667%
	}
	.col-ms-push-1 {
		left: 8.33333333%
	}
	.col-ms-push-0 {
		left: auto
	}
	.col-ms-offset-12 {
		margin-left: 100%
	}
	.col-ms-offset-11 {
		margin-left: 91.66666667%
	}
	.col-ms-offset-10 {
		margin-left: 83.33333333%
	}
	.col-ms-offset-9 {
		margin-left: 75%
	}
	.col-ms-offset-8 {
		margin-left: 66.66666667%
	}
	.col-ms-offset-7 {
		margin-left: 58.33333333%
	}
	.col-ms-offset-6 {
		margin-left: 50%
	}
	.col-ms-offset-5 {
		margin-left: 41.66666667%
	}
	.col-ms-offset-4 {
		margin-left: 33.33333333%
	}
	.col-ms-offset-3 {
		margin-left: 25%
	}
	.col-ms-offset-2 {
		margin-left: 16.66666667%
	}
	.col-ms-offset-1 {
		margin-left: 8.33333333%
	}
	.col-ms-offset-0 {
		margin-left: 0
	}
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 13px;
	padding-right: 13px
}
@media (min-width: 768px) {
	.container {
		width: 746px
	}
}
@media (min-width: 992px) {
	.container {
		width: 966px
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1184px
	}
}
.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 13px;
	padding-right: 13px
}
.row {
	margin-left: -13px;
	margin-right: -13px
}
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
	position: relative;
	min-height: 1px;
	padding-left: 13px;
	padding-right: 13px
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
	float: left
}
.col-xs-12 {
	width: 100%
}
.col-xs-11 {
	width: 91.66666667%
}
.col-xs-10 {
	width: 83.33333333%
}
.col-xs-9 {
	width: 75%
}
.col-xs-8 {
	width: 66.66666667%
}
.col-xs-7 {
	width: 58.33333333%
}
.col-xs-6 {
	width: 50%
}
.col-xs-5 {
	width: 41.66666667%
}
.col-xs-4 {
	width: 33.33333333%
}
.col-xs-3 {
	width: 25%
}
.col-xs-2 {
	width: 16.66666667%
}
.col-xs-1 {
	width: 8.33333333%
}
.col-xs-pull-12 {
	right: 100%
}
.col-xs-pull-11 {
	right: 91.66666667%
}
.col-xs-pull-10 {
	right: 83.33333333%
}
.col-xs-pull-9 {
	right: 75%
}
.col-xs-pull-8 {
	right: 66.66666667%
}
.col-xs-pull-7 {
	right: 58.33333333%
}
.col-xs-pull-6 {
	right: 50%
}
.col-xs-pull-5 {
	right: 41.66666667%
}
.col-xs-pull-4 {
	right: 33.33333333%
}
.col-xs-pull-3 {
	right: 25%
}
.col-xs-pull-2 {
	right: 16.66666667%
}
.col-xs-pull-1 {
	right: 8.33333333%
}
.col-xs-pull-0 {
	right: auto
}
.col-xs-push-12 {
	left: 100%
}
.col-xs-push-11 {
	left: 91.66666667%
}
.col-xs-push-10 {
	left: 83.33333333%
}
.col-xs-push-9 {
	left: 75%
}
.col-xs-push-8 {
	left: 66.66666667%
}
.col-xs-push-7 {
	left: 58.33333333%
}
.col-xs-push-6 {
	left: 50%
}
.col-xs-push-5 {
	left: 41.66666667%
}
.col-xs-push-4 {
	left: 33.33333333%
}
.col-xs-push-3 {
	left: 25%
}
.col-xs-push-2 {
	left: 16.66666667%
}
.col-xs-push-1 {
	left: 8.33333333%
}
.col-xs-push-0 {
	left: auto
}
.col-xs-offset-12 {
	margin-left: 100%
}
.col-xs-offset-11 {
	margin-left: 91.66666667%
}
.col-xs-offset-10 {
	margin-left: 83.33333333%
}
.col-xs-offset-9 {
	margin-left: 75%
}
.col-xs-offset-8 {
	margin-left: 66.66666667%
}
.col-xs-offset-7 {
	margin-left: 58.33333333%
}
.col-xs-offset-6 {
	margin-left: 50%
}
.col-xs-offset-5 {
	margin-left: 41.66666667%
}
.col-xs-offset-4 {
	margin-left: 33.33333333%
}
.col-xs-offset-3 {
	margin-left: 25%
}
.col-xs-offset-2 {
	margin-left: 16.66666667%
}
.col-xs-offset-1 {
	margin-left: 8.33333333%
}
.col-xs-offset-0 {
	margin-left: 0
}
@media (min-width: 768px) {
	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12 {
		float: left
	}
	.col-sm-12 {
		width: 100%
	}
	.col-sm-11 {
		width: 91.66666667%
	}
	.col-sm-10 {
		width: 83.33333333%
	}
	.col-sm-9 {
		width: 75%
	}
	.col-sm-8 {
		width: 66.66666667%
	}
	.col-sm-7 {
		width: 58.33333333%
	}
	.col-sm-6 {
		width: 50%
	}
	.col-sm-5 {
		width: 41.66666667%
	}
	.col-sm-4 {
		width: 33.33333333%
	}
	.col-sm-3 {
		width: 25%
	}
	.col-sm-2 {
		width: 16.66666667%
	}
	.col-sm-1 {
		width: 8.33333333%
	}
	.col-sm-pull-12 {
		right: 100%
	}
	.col-sm-pull-11 {
		right: 91.66666667%
	}
	.col-sm-pull-10 {
		right: 83.33333333%
	}
	.col-sm-pull-9 {
		right: 75%
	}
	.col-sm-pull-8 {
		right: 66.66666667%
	}
	.col-sm-pull-7 {
		right: 58.33333333%
	}
	.col-sm-pull-6 {
		right: 50%
	}
	.col-sm-pull-5 {
		right: 41.66666667%
	}
	.col-sm-pull-4 {
		right: 33.33333333%
	}
	.col-sm-pull-3 {
		right: 25%
	}
	.col-sm-pull-2 {
		right: 16.66666667%
	}
	.col-sm-pull-1 {
		right: 8.33333333%
	}
	.col-sm-pull-0 {
		right: auto
	}
	.col-sm-push-12 {
		left: 100%
	}
	.col-sm-push-11 {
		left: 91.66666667%
	}
	.col-sm-push-10 {
		left: 83.33333333%
	}
	.col-sm-push-9 {
		left: 75%
	}
	.col-sm-push-8 {
		left: 66.66666667%
	}
	.col-sm-push-7 {
		left: 58.33333333%
	}
	.col-sm-push-6 {
		left: 50%
	}
	.col-sm-push-5 {
		left: 41.66666667%
	}
	.col-sm-push-4 {
		left: 33.33333333%
	}
	.col-sm-push-3 {
		left: 25%
	}
	.col-sm-push-2 {
		left: 16.66666667%
	}
	.col-sm-push-1 {
		left: 8.33333333%
	}
	.col-sm-push-0 {
		left: auto
	}
	.col-sm-offset-12 {
		margin-left: 100%
	}
	.col-sm-offset-11 {
		margin-left: 91.66666667%
	}
	.col-sm-offset-10 {
		margin-left: 83.33333333%
	}
	.col-sm-offset-9 {
		margin-left: 75%
	}
	.col-sm-offset-8 {
		margin-left: 66.66666667%
	}
	.col-sm-offset-7 {
		margin-left: 58.33333333%
	}
	.col-sm-offset-6 {
		margin-left: 50%
	}
	.col-sm-offset-5 {
		margin-left: 41.66666667%
	}
	.col-sm-offset-4 {
		margin-left: 33.33333333%
	}
	.col-sm-offset-3 {
		margin-left: 25%
	}
	.col-sm-offset-2 {
		margin-left: 16.66666667%
	}
	.col-sm-offset-1 {
		margin-left: 8.33333333%
	}
	.col-sm-offset-0 {
		margin-left: 0
	}
}
@media (min-width: 992px) {
	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12 {
		float: left
	}
	.col-md-12 {
		width: 100%
	}
	.col-md-11 {
		width: 91.66666667%
	}
	.col-md-10 {
		width: 83.33333333%
	}
	.col-md-9 {
		width: 75%
	}
	.col-md-8 {
		width: 66.66666667%
	}
	.col-md-7 {
		width: 58.33333333%
	}
	.col-md-6 {
		width: 50%
	}
	.col-md-5 {
		width: 41.66666667%
	}
	.col-md-4 {
		width: 33.33333333%
	}
	.col-md-3 {
		width: 25%
	}
	.col-md-2 {
		width: 16.66666667%
	}
	.col-md-1 {
		width: 8.33333333%
	}
	.col-md-pull-12 {
		right: 100%
	}
	.col-md-pull-11 {
		right: 91.66666667%
	}
	.col-md-pull-10 {
		right: 83.33333333%
	}
	.col-md-pull-9 {
		right: 75%
	}
	.col-md-pull-8 {
		right: 66.66666667%
	}
	.col-md-pull-7 {
		right: 58.33333333%
	}
	.col-md-pull-6 {
		right: 50%
	}
	.col-md-pull-5 {
		right: 41.66666667%
	}
	.col-md-pull-4 {
		right: 33.33333333%
	}
	.col-md-pull-3 {
		right: 25%
	}
	.col-md-pull-2 {
		right: 16.66666667%
	}
	.col-md-pull-1 {
		right: 8.33333333%
	}
	.col-md-pull-0 {
		right: auto
	}
	.col-md-push-12 {
		left: 100%
	}
	.col-md-push-11 {
		left: 91.66666667%
	}
	.col-md-push-10 {
		left: 83.33333333%
	}
	.col-md-push-9 {
		left: 75%
	}
	.col-md-push-8 {
		left: 66.66666667%
	}
	.col-md-push-7 {
		left: 58.33333333%
	}
	.col-md-push-6 {
		left: 50%
	}
	.col-md-push-5 {
		left: 41.66666667%
	}
	.col-md-push-4 {
		left: 33.33333333%
	}
	.col-md-push-3 {
		left: 25%
	}
	.col-md-push-2 {
		left: 16.66666667%
	}
	.col-md-push-1 {
		left: 8.33333333%
	}
	.col-md-push-0 {
		left: auto
	}
	.col-md-offset-12 {
		margin-left: 100%
	}
	.col-md-offset-11 {
		margin-left: 91.66666667%
	}
	.col-md-offset-10 {
		margin-left: 83.33333333%
	}
	.col-md-offset-9 {
		margin-left: 75%
	}
	.col-md-offset-8 {
		margin-left: 66.66666667%
	}
	.col-md-offset-7 {
		margin-left: 58.33333333%
	}
	.col-md-offset-6 {
		margin-left: 50%
	}
	.col-md-offset-5 {
		margin-left: 41.66666667%
	}
	.col-md-offset-4 {
		margin-left: 33.33333333%
	}
	.col-md-offset-3 {
		margin-left: 25%
	}
	.col-md-offset-2 {
		margin-left: 16.66666667%
	}
	.col-md-offset-1 {
		margin-left: 8.33333333%
	}
	.col-md-offset-0 {
		margin-left: 0
	}
}
@media (min-width: 1200px) {
	.col-lg-1,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12 {
		float: left
	}
	.col-lg-12 {
		width: 100%
	}
	.col-lg-11 {
		width: 91.66666667%
	}
	.col-lg-10 {
		width: 83.33333333%
	}
	.col-lg-9 {
		width: 75%
	}
	.col-lg-8 {
		width: 66.66666667%
	}
	.col-lg-7 {
		width: 58.33333333%
	}
	.col-lg-6 {
		width: 50%
	}
	.col-lg-5 {
		width: 41.66666667%
	}
	.col-lg-4 {
		width: 33.33333333%
	}
	.col-lg-3 {
		width: 25%
	}
	.col-lg-2 {
		width: 16.66666667%
	}
	.col-lg-1 {
		width: 8.33333333%
	}
	.col-lg-pull-12 {
		right: 100%
	}
	.col-lg-pull-11 {
		right: 91.66666667%
	}
	.col-lg-pull-10 {
		right: 83.33333333%
	}
	.col-lg-pull-9 {
		right: 75%
	}
	.col-lg-pull-8 {
		right: 66.66666667%
	}
	.col-lg-pull-7 {
		right: 58.33333333%
	}
	.col-lg-pull-6 {
		right: 50%
	}
	.col-lg-pull-5 {
		right: 41.66666667%
	}
	.col-lg-pull-4 {
		right: 33.33333333%
	}
	.col-lg-pull-3 {
		right: 25%
	}
	.col-lg-pull-2 {
		right: 16.66666667%
	}
	.col-lg-pull-1 {
		right: 8.33333333%
	}
	.col-lg-pull-0 {
		right: auto
	}
	.col-lg-push-12 {
		left: 100%
	}
	.col-lg-push-11 {
		left: 91.66666667%
	}
	.col-lg-push-10 {
		left: 83.33333333%
	}
	.col-lg-push-9 {
		left: 75%
	}
	.col-lg-push-8 {
		left: 66.66666667%
	}
	.col-lg-push-7 {
		left: 58.33333333%
	}
	.col-lg-push-6 {
		left: 50%
	}
	.col-lg-push-5 {
		left: 41.66666667%
	}
	.col-lg-push-4 {
		left: 33.33333333%
	}
	.col-lg-push-3 {
		left: 25%
	}
	.col-lg-push-2 {
		left: 16.66666667%
	}
	.col-lg-push-1 {
		left: 8.33333333%
	}
	.col-lg-push-0 {
		left: auto
	}
	.col-lg-offset-12 {
		margin-left: 100%
	}
	.col-lg-offset-11 {
		margin-left: 91.66666667%
	}
	.col-lg-offset-10 {
		margin-left: 83.33333333%
	}
	.col-lg-offset-9 {
		margin-left: 75%
	}
	.col-lg-offset-8 {
		margin-left: 66.66666667%
	}
	.col-lg-offset-7 {
		margin-left: 58.33333333%
	}
	.col-lg-offset-6 {
		margin-left: 50%
	}
	.col-lg-offset-5 {
		margin-left: 41.66666667%
	}
	.col-lg-offset-4 {
		margin-left: 33.33333333%
	}
	.col-lg-offset-3 {
		margin-left: 25%
	}
	.col-lg-offset-2 {
		margin-left: 16.66666667%
	}
	.col-lg-offset-1 {
		margin-left: 8.33333333%
	}
	.col-lg-offset-0 {
		margin-left: 0
	}
}
input,
select,
textarea {
	box-sizing: border-box;
	margin: 0;
	border-radius: 0;
	font: inherit;
	color: inherit
}
select {
	text-transform: none
}
optgroup {
	font: inherit;
	font-weight: 700
}
input::-moz-focus-inner {
	border: 0;
	padding: 0
}
input[type=checkbox],
input[type=radio] {
	padding: 0
}
input[type=checkbox]:not(:disabled),
input[type=radio]:not(:disabled) {
	cursor: pointer
}
input:not([type]),
input[type=datetime],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
	-webkit-appearance: none
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto
}
fieldset {
	border: none;
	margin: 0;
	padding: 0
}
textarea {
	overflow: auto;
	vertical-align: top
}
form::-moz-placeholder {
	opacity: 1
}
form:invalid {
	box-shadow: none
}
.btn,
input:not([type=radio]):not([type=checkbox]),
select {
	vertical-align: middle
}
.btn {
	-webkit-appearance: none;
	position: relative;
	margin: 0;
	overflow: visible;
	font-size: 20px;
	font-family: inherit;
	box-sizing: border-box;
	display: inline-block;
	padding: 12px 20px;
	line-height: 1;
	text-align: center;
	border: 2px solid #ff9700;
	color: #f6a439;
	background: transparent;
	-webkit-transition: all .2s;
	transition: all .2s;
	-webkit-transition-property: background, color, border;
	transition-property: background, color, border
}
.btn::-moz-focus-inner {
	border: 0;
	padding: 0
}
.btn:not(:disabled) {
	cursor: pointer
}
.btn:hover {
	border-color: #ff8400;
	color: #fff;
	background: #ff8400
}
.btn.active,
.btn:active,
.btn:focus {
	outline: none;
	border-color: #ff9700;
	color: #fff;
	background: #ff9700
}
.btn-big {
	padding: 15px 20px
}
.btn-small {
	font-size: 14px;
	padding: 5px 10px
}
.btn-w100 {
	display: block;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px
}
.btn-fill {
	border: 0 none;
	color: #fff;
	background: #ff9700;
}
.btn-fill:hover {
	border-color: #ff8400;
	background: #ff8400;
}
.btn-fill.active,
.btn-fill:active,
.btn-fill:focus {
	background: #ff9700;
}
.input {
	height: 54px;
	width: 100%;
	padding: 0 10px;
	border: 1px solid #d0d0d0;
	color: #c1c1c1;
	background: transparent;
	line-height: 1;
	font-size: 14px;
	font-family: inherit;
	-webkit-transition: all .2s;
	transition: all .2s;
	-webkit-transition-property: border, background, color;
	transition-property: border, background, color
}
.input:focus {
	outline: 0;
	border-color: #f6a439
}
.input:focus:-ms-input-placeholder {
	opacity: 0
}
.input:focus::-moz-placeholder {
	opacity: 0
}
.input:focus::-webkit-input-placeholder {
	opacity: 0
}
.input:-ms-input-placeholder {
	color: #c1c1c1!important;
	opacity: 1;
	-webkit-transition: opacity .2s;
	transition: opacity .2s
}
.input::-moz-placeholder {
	color: #c1c1c1;
	opacity: 1;
	-webkit-transition: opacity .2s;
	transition: opacity .2s
}
.input::-webkit-input-placeholder {
	color: #c1c1c1;
	opacity: 1;
	-webkit-transition: opacity .2s;
	transition: opacity .2s
}
.input-small {
	height: 40px;
	border-color: #ccc;
	color: #c2c2c2
}
.input-fill {
	background: #fff
}
.input.error {
	border-color: red
}
.input.valid {
	border-color: green
}
.textarea {
	display: block;
	width: 100%;
	min-height: 165px;
	padding: 15px 10px;
	border: 1px solid #ccc;
	color: #c2c2c2;
	background: transparent;
	line-height: 1;
	font-size: 14px;
	font-family: inherit;
	-webkit-transition: all .2s;
	transition: all .2s;
	-webkit-transition-property: border, background, color;
	transition-property: border, background, color
}
.textarea:focus {
	outline: 0;
	border-color: #f6a439
}
.textarea:focus:-ms-input-placeholder {
	opacity: 0
}
.textarea:focus::-moz-placeholder {
	opacity: 0
}
.textarea:focus::-webkit-input-placeholder {
	opacity: 0
}
.textarea:-ms-input-placeholder {
	color: #c2c2c2!important;
	opacity: 1;
	-webkit-transition: opacity .2s;
	transition: opacity .2s
}
.textarea::-moz-placeholder {
	color: #c2c2c2;
	opacity: 1;
	-webkit-transition: opacity .2s;
	transition: opacity .2s
}
.textarea::-webkit-input-placeholder {
	color: #c2c2c2;
	opacity: 1;
	-webkit-transition: opacity .2s;
	transition: opacity .2s
}
label {
	display: block;
	padding: 15px 0;
	font-size: 16px;
	line-height: 1;
	cursor: pointer
}
.form-row {
	position: relative
}
.form-row:not(:last-child) {
	margin-bottom: 20px
}
.form-row-big:not(:last-child) {
	margin-bottom: 28px
}
.form-inline {
	display: inline-block;
	vertical-align: middle
}
@media (max-width: 768px) {
	.form-inline {
		display: block
	}
	.form-inline:not(:last-child) {
		margin-bottom: 10px
	}
}
body:after {
	content: url(../img/lightbox/close.png) url(../img/lightbox/loading.gif) url(../img/lightbox/prev.png) url(../img/lightbox/next.png);
	display: none
}
body.lb-disable-scrolling {
	overflow: hidden
}
.lightboxOverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: black;
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: .8;
	display: none
}
.lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 10000;
	text-align: center;
	line-height: 0;
	font-weight: 400
}
.lightbox .lb-image {
	display: block;
	height: auto;
	max-width: inherit;
	border-radius: 3px
}
.lightbox a img {
	border: none
}
.lb-outerContainer {
	position: relative;
	background-color: white;
	*zoom: 1;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border-radius: 4px
}
.lb-outerContainer:after {
	content: "";
	display: table;
	clear: both
}
.lb-container {
	padding: 4px
}
.lb-loader {
	position: absolute;
	top: 43%;
	left: 0;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0
}
.lb-cancel {
	display: block;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	background: url(../img/lightbox/loading.gif) no-repeat
}
.lb-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10
}
.lb-container>.nav {
	left: 0
}
.lb-nav a {
	outline: none;
	background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
}
.lb-next,
.lb-prev {
	height: 100%;
	cursor: pointer;
	display: block
}
.lb-nav a.lb-prev {
	width: 34%;
	left: 0;
	float: left;
	background: url(../img/lightbox/prev.png) left 48% no-repeat;
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity .6s;
	transition: opacity .6s
}
.lb-nav a.lb-prev:hover {
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1
}
.lb-nav a.lb-next {
	width: 64%;
	right: 0;
	float: right;
	background: url(../img/lightbox/next.png) right 48% no-repeat;
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity .6s;
	transition: opacity .6s
}
.lb-nav a.lb-next:hover {
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1
}
.lb-dataContainer {
	margin: 0 auto;
	padding-top: 5px;
	*zoom: 1;
	width: 100%;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px
}
.lb-dataContainer:after {
	content: "";
	display: table;
	clear: both
}
.lb-data {
	padding: 0 4px;
	color: #ccc
}
.lb-data .lb-details {
	width: 85%;
	float: left;
	text-align: left;
	line-height: 1.1em
}
.lb-data .lb-caption {
	font-size: 13px;
	font-weight: 700;
	line-height: 1em
}
.lb-data .lb-number {
	display: block;
	clear: left;
	padding-bottom: 1em;
	font-size: 12px;
	color: #999999
}
.lb-data .lb-close {
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	background: url(../img/lightbox/close.png) 100% 0 no-repeat;
	text-align: right;
	outline: none;
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: .7;
	-webkit-transition: opacity .2s;
	transition: opacity .2s
}
.lb-data .lb-close:hover {
	cursor: pointer;
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1
}
html.remodal-is-locked {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none
}
.remodal,
[data-remodal-id] {
	display: none
}
.remodal-overlay {
	position: fixed;
	z-index: 9999;
	top: -5000px;
	right: -5000px;
	bottom: -5000px;
	left: -5000px;
	display: none
}
.remodal-wrapper {
	position: fixed;
	z-index: 10000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	overflow: auto;
	text-align: center;
	-webkit-overflow-scrolling: touch
}
.remodal-wrapper:after {
	display: inline-block;
	height: 100%;
	margin-left: -.05em;
	content: ""
}
.remodal-overlay,
.remodal-wrapper {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}
.remodal {
	position: relative;
	outline: none;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%
}
.remodal-is-initialized {
	display: inline-block
}
.remodal-bg.remodal-is-opened,
.remodal-bg.remodal-is-opening {
	-webkit-filter: blur(3px);
	filter: blur(3px)
}
.remodal-overlay {
	background: rgba(43, 46, 56, .9)
}
.remodal-overlay.remodal-is-closing,
.remodal-overlay.remodal-is-opening {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards
}
.remodal-overlay.remodal-is-opening {
	-webkit-animation-name: remodal-overlay-opening-keyframes;
	animation-name: remodal-overlay-opening-keyframes
}
.remodal-overlay.remodal-is-closing {
	-webkit-animation-name: remodal-overlay-closing-keyframes;
	animation-name: remodal-overlay-closing-keyframes
}
.remodal-wrapper {
	padding: 10px 10px 0
}
.remodal {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 10px;
	padding: 65px 180px 80px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	color: #2b2e38;
	background: #fff
}
@media (max-width: 768px) {
	.remodal {
		padding: 30px
	}
}
.remodal.remodal-is-closing,
.remodal.remodal-is-opening {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards
}
.remodal.remodal-is-opening {
	-webkit-animation-name: remodal-opening-keyframes;
	animation-name: remodal-opening-keyframes
}
.remodal.remodal-is-closing {
	-webkit-animation-name: remodal-closing-keyframes;
	animation-name: remodal-closing-keyframes
}
.remodal,
.remodal-wrapper:after {
	vertical-align: middle
}
.remodal-close {
	position: absolute;
	top: 50px;
	right: 50px;
	display: block;
	overflow: visible;
	width: 27px;
	height: 27px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	-webkit-transition: color .2s;
	transition: color .2s;
	text-decoration: none;
	color: transparent;
	border: 0;
	outline: 0;
	background: transparent
}
@media (max-width: 768px) {
	.remodal-close {
		top: 5px;
		right: 5px
	}
}
.remodal-close:focus path,
.remodal-close:hover path {
	stroke: #ff9700
}
.remodal-cancel,
.remodal-confirm {
	font: inherit;
	display: inline-block;
	overflow: visible;
	min-width: 110px;
	margin: 0;
	padding: 12px 0;
	cursor: pointer;
	-webkit-transition: background .2s;
	transition: background .2s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	border: 0;
	outline: 0
}
.remodal-confirm {
	color: #fff;
	background: #81c784
}
.remodal-confirm:focus,
.remodal-confirm:hover {
	background: #66bb6a
}
.remodal-cancel {
	color: #fff;
	background: #e57373
}
.remodal-cancel:focus,
.remodal-cancel:hover {
	background: #ef5350
}
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner,
.remodal-confirm::-moz-focus-inner {
	padding: 0;
	border: 0
}
@-webkit-keyframes remodal-opening-keyframes {
	0% {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
		opacity: 0
	}
	to {
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}
@keyframes remodal-opening-keyframes {
	0% {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
		opacity: 0
	}
	to {
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}
@-webkit-keyframes remodal-closing-keyframes {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
	to {
		-webkit-transform: scale(.95);
		transform: scale(.95);
		opacity: 0
	}
}
@keyframes remodal-closing-keyframes {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
	to {
		-webkit-transform: scale(.95);
		transform: scale(.95);
		opacity: 0
	}
}
@-webkit-keyframes remodal-overlay-opening-keyframes {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@keyframes remodal-overlay-opening-keyframes {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@-webkit-keyframes remodal-overlay-closing-keyframes {
	0% {
		opacity: 1
	}
	to {
		opacity: 0
	}
}
@keyframes remodal-overlay-closing-keyframes {
	0% {
		opacity: 1
	}
	to {
		opacity: 0
	}
}
@media only screen and (min-width: 641px) {
	.remodal {
		max-width: 750px
	}
}
.lt-ie9 .remodal-overlay {
	background: #2b2e38
}
.lt-ie9 .remodal {
	width: 700px
}
.intl-tel-input {
	position: relative;
	display: inline-block;
	width: 100%
}
.intl-tel-input * {
	box-sizing: border-box;
	-moz-box-sizing: border-box
}
.intl-tel-input .hide {
	display: none
}
.intl-tel-input .v-hide {
	visibility: hidden
}
.intl-tel-input input,
.intl-tel-input input[type=tel],
.intl-tel-input input[type=text] {
	position: relative;
	z-index: 0;
	margin-top: 0!important;
	margin-bottom: 0!important;
	padding-right: 36px;
	margin-right: 0
}
.intl-tel-input .flag-container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 1px
}
.intl-tel-input .selected-flag {
	z-index: 1;
	position: relative;
	width: 36px;
	height: 100%;
	padding: 0 0 0 8px
}
.intl-tel-input .selected-flag:focus {
	outline: none
}
.intl-tel-input .selected-flag .iti-flag {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto
}
.intl-tel-input .selected-flag .iti-arrow {
	position: absolute;
	top: 50%;
	margin-top: -2px;
	right: 6px;
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 4px solid #555
}
.intl-tel-input .selected-flag .iti-arrow.up {
	border-top: none;
	border-bottom: 4px solid #555
}
.intl-tel-input .country-list {
	position: absolute;
	z-index: 15000;
	list-style: none;
	text-align: left;
	padding: 0;
	margin: 0 0 0 -1px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
	background-color: white;
	border: 1px solid #CCC;
	white-space: nowrap;
	max-height: 200px;
	overflow-y: scroll
}
.intl-tel-input .country-list.dropup {
	bottom: 100%;
	margin-bottom: -1px
}
.intl-tel-input .country-list .flag-box {
	display: inline-block;
	width: 20px
}
@media (max-width: 500px) {
	.intl-tel-input .country-list {
		white-space: normal
	}
}
.intl-tel-input .country-list .divider {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #CCC
}
.intl-tel-input .country-list .country {
	padding: 5px 10px
}
.intl-tel-input .country-list .country .dial-code {
	color: #999
}
.intl-tel-input .country-list .country.highlight {
	background-color: rgba(0, 0, 0, .05)
}
.intl-tel-input .country-list .country-name {
	color: #26304b
}
.intl-tel-input .country-list .country-name,
.intl-tel-input .country-list .dial-code,
.intl-tel-input .country-list .flag-box {
	vertical-align: middle
}
.intl-tel-input .country-list .country-name,
.intl-tel-input .country-list .flag-box {
	margin-right: 6px
}
.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=tel],
.intl-tel-input.allow-dropdown input[type=text],
.intl-tel-input.separate-dial-code input,
.intl-tel-input.separate-dial-code input[type=tel],
.intl-tel-input.separate-dial-code input[type=text] {
	padding-right: 6px;
	padding-left: 52px;
	margin-left: 0
}
.intl-tel-input.allow-dropdown .flag-container,
.intl-tel-input.separate-dial-code .flag-container {
	right: auto;
	left: 0
}
.intl-tel-input.allow-dropdown .selected-flag,
.intl-tel-input.separate-dial-code .selected-flag {
	width: 46px
}
.intl-tel-input.allow-dropdown .flag-container:hover {
	cursor: pointer
}
.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
	background-color: rgba(0, 0, 0, .05)
}
.intl-tel-input.allow-dropdown input[disabled]+.flag-container:hover,
.intl-tel-input.allow-dropdown input[readonly]+.flag-container:hover {
	cursor: default
}
.intl-tel-input.allow-dropdown input[disabled]+.flag-container:hover .selected-flag,
.intl-tel-input.allow-dropdown input[readonly]+.flag-container:hover .selected-flag {
	background-color: transparent
}
.intl-tel-input.separate-dial-code .selected-flag {
	background-color: rgba(0, 0, 0, .05);
	display: table
}
.intl-tel-input.separate-dial-code .selected-dial-code {
	display: table-cell;
	vertical-align: middle;
	padding-left: 28px
}
.intl-tel-input.separate-dial-code.iti-sdc-2 input,
.intl-tel-input.separate-dial-code.iti-sdc-2 input[type=tel],
.intl-tel-input.separate-dial-code.iti-sdc-2 input[type=text] {
	padding-left: 66px
}
.intl-tel-input.separate-dial-code.iti-sdc-2 .selected-flag {
	width: 60px
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 input,
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 input[type=tel],
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 input[type=text] {
	padding-left: 76px
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 .selected-flag {
	width: 70px
}
.intl-tel-input.separate-dial-code.iti-sdc-3 input,
.intl-tel-input.separate-dial-code.iti-sdc-3 input[type=tel],
.intl-tel-input.separate-dial-code.iti-sdc-3 input[type=text] {
	padding-left: 74px
}
.intl-tel-input.separate-dial-code.iti-sdc-3 .selected-flag {
	width: 68px
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input,
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input[type=tel],
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input[type=text] {
	padding-left: 84px
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 .selected-flag {
	width: 78px
}
.intl-tel-input.separate-dial-code.iti-sdc-4 input,
.intl-tel-input.separate-dial-code.iti-sdc-4 input[type=tel],
.intl-tel-input.separate-dial-code.iti-sdc-4 input[type=text] {
	padding-left: 82px
}
.intl-tel-input.separate-dial-code.iti-sdc-4 .selected-flag {
	width: 76px
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input,
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input[type=tel],
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input[type=text] {
	padding-left: 92px
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 .selected-flag {
	width: 86px
}
.intl-tel-input.separate-dial-code.iti-sdc-5 input,
.intl-tel-input.separate-dial-code.iti-sdc-5 input[type=tel],
.intl-tel-input.separate-dial-code.iti-sdc-5 input[type=text] {
	padding-left: 90px
}
.intl-tel-input.separate-dial-code.iti-sdc-5 .selected-flag {
	width: 84px
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 input,
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 input[type=tel],
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 input[type=text] {
	padding-left: 100px
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 .selected-flag {
	width: 94px
}
.intl-tel-input.iti-container {
	position: absolute;
	top: -1000px;
	left: -1000px;
	z-index: 15000;
	padding: 1px
}
.intl-tel-input.iti-container:hover {
	cursor: pointer
}
.iti-mobile .intl-tel-input.iti-container {
	top: 30px;
	bottom: 30px;
	left: 30px;
	right: 30px;
	position: fixed;
	width: auto
}
.iti-mobile .intl-tel-input .country-list {
	max-height: 100%;
	width: 100%
}
.iti-mobile .intl-tel-input .country-list .country {
	padding: 10px;
	line-height: 1.5em
}
.iti-flag {
	width: 20px
}
.iti-flag.be {
	width: 18px
}
.iti-flag.ch {
	width: 15px
}
.iti-flag.mc {
	width: 19px
}
.iti-flag.ne {
	width: 18px
}
.iti-flag.np {
	width: 13px
}
.iti-flag.va {
	width: 15px
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 2dppx),
only screen and (min-resolution: 192dpi) {
	.iti-flag {
		background-size: 5630px 15px
	}
}
.iti-flag.ac {
	height: 10px;
	background-position: 0 0
}
.iti-flag.ad {
	height: 14px;
	background-position: -22px 0
}
.iti-flag.ae {
	height: 10px;
	background-position: -44px 0
}
.iti-flag.af {
	height: 14px;
	background-position: -66px 0
}
.iti-flag.ag {
	height: 14px;
	background-position: -88px 0
}
.iti-flag.ai {
	height: 10px;
	background-position: -110px 0
}
.iti-flag.al {
	height: 15px;
	background-position: -132px 0
}
.iti-flag.am {
	height: 10px;
	background-position: -154px 0
}
.iti-flag.ao {
	height: 14px;
	background-position: -176px 0
}
.iti-flag.aq {
	height: 14px;
	background-position: -198px 0
}
.iti-flag.ar {
	height: 13px;
	background-position: -220px 0
}
.iti-flag.as {
	height: 10px;
	background-position: -242px 0
}
.iti-flag.at {
	height: 14px;
	background-position: -264px 0
}
.iti-flag.au {
	height: 10px;
	background-position: -286px 0
}
.iti-flag.aw {
	height: 14px;
	background-position: -308px 0
}
.iti-flag.ax {
	height: 13px;
	background-position: -330px 0
}
.iti-flag.az {
	height: 10px;
	background-position: -352px 0
}
.iti-flag.ba {
	height: 10px;
	background-position: -374px 0
}
.iti-flag.bb {
	height: 14px;
	background-position: -396px 0
}
.iti-flag.bd {
	height: 12px;
	background-position: -418px 0
}
.iti-flag.be {
	height: 15px;
	background-position: -440px 0
}
.iti-flag.bf {
	height: 14px;
	background-position: -460px 0
}
.iti-flag.bg {
	height: 12px;
	background-position: -482px 0
}
.iti-flag.bh {
	height: 12px;
	background-position: -504px 0
}
.iti-flag.bi {
	height: 12px;
	background-position: -526px 0
}
.iti-flag.bj {
	height: 14px;
	background-position: -548px 0
}
.iti-flag.bl {
	height: 14px;
	background-position: -570px 0
}
.iti-flag.bm {
	height: 10px;
	background-position: -592px 0
}
.iti-flag.bn {
	height: 10px;
	background-position: -614px 0
}
.iti-flag.bo {
	height: 14px;
	background-position: -636px 0
}
.iti-flag.bq {
	height: 14px;
	background-position: -658px 0
}
.iti-flag.br {
	height: 14px;
	background-position: -680px 0
}
.iti-flag.bs {
	height: 10px;
	background-position: -702px 0
}
.iti-flag.bt {
	height: 14px;
	background-position: -724px 0
}
.iti-flag.bv {
	height: 15px;
	background-position: -746px 0
}
.iti-flag.bw {
	height: 14px;
	background-position: -768px 0
}
.iti-flag.by {
	height: 10px;
	background-position: -790px 0
}
.iti-flag.bz {
	height: 14px;
	background-position: -812px 0
}
.iti-flag.ca {
	height: 10px;
	background-position: -834px 0
}
.iti-flag.cc {
	height: 10px;
	background-position: -856px 0
}
.iti-flag.cd {
	height: 15px;
	background-position: -878px 0
}
.iti-flag.cf {
	height: 14px;
	background-position: -900px 0
}
.iti-flag.cg {
	height: 14px;
	background-position: -922px 0
}
.iti-flag.ch {
	height: 15px;
	background-position: -944px 0
}
.iti-flag.ci {
	height: 14px;
	background-position: -961px 0
}
.iti-flag.ck {
	height: 10px;
	background-position: -983px 0
}
.iti-flag.cl {
	height: 14px;
	background-position: -1005px 0
}
.iti-flag.cm {
	height: 14px;
	background-position: -1027px 0
}
.iti-flag.cn {
	height: 14px;
	background-position: -1049px 0
}
.iti-flag.co {
	height: 14px;
	background-position: -1071px 0
}
.iti-flag.cp {
	height: 14px;
	background-position: -1093px 0
}
.iti-flag.cr {
	height: 12px;
	background-position: -1115px 0
}
.iti-flag.cu {
	height: 10px;
	background-position: -1137px 0
}
.iti-flag.cv {
	height: 12px;
	background-position: -1159px 0
}
.iti-flag.cw {
	height: 14px;
	background-position: -1181px 0
}
.iti-flag.cx {
	height: 10px;
	background-position: -1203px 0
}
.iti-flag.cy {
	height: 13px;
	background-position: -1225px 0
}
.iti-flag.cz {
	height: 14px;
	background-position: -1247px 0
}
.iti-flag.de {
	height: 12px;
	background-position: -1269px 0
}
.iti-flag.dg {
	height: 10px;
	background-position: -1291px 0
}
.iti-flag.dj {
	height: 14px;
	background-position: -1313px 0
}
.iti-flag.dk {
	height: 15px;
	background-position: -1335px 0
}
.iti-flag.dm {
	height: 10px;
	background-position: -1357px 0
}
.iti-flag.do {
	height: 13px;
	background-position: -1379px 0
}
.iti-flag.dz {
	height: 14px;
	background-position: -1401px 0
}
.iti-flag.ea {
	height: 14px;
	background-position: -1423px 0
}
.iti-flag.ec {
	height: 14px;
	background-position: -1445px 0
}
.iti-flag.ee {
	height: 13px;
	background-position: -1467px 0
}
.iti-flag.eg {
	height: 14px;
	background-position: -1489px 0
}
.iti-flag.eh {
	height: 10px;
	background-position: -1511px 0
}
.iti-flag.er {
	height: 10px;
	background-position: -1533px 0
}
.iti-flag.es {
	height: 14px;
	background-position: -1555px 0
}
.iti-flag.et {
	height: 10px;
	background-position: -1577px 0
}
.iti-flag.eu {
	height: 14px;
	background-position: -1599px 0
}
.iti-flag.fi {
	height: 12px;
	background-position: -1621px 0
}
.iti-flag.fj {
	height: 10px;
	background-position: -1643px 0
}
.iti-flag.fk {
	height: 10px;
	background-position: -1665px 0
}
.iti-flag.fm {
	height: 11px;
	background-position: -1687px 0
}
.iti-flag.fo {
	height: 15px;
	background-position: -1709px 0
}
.iti-flag.fr {
	height: 14px;
	background-position: -1731px 0
}
.iti-flag.ga {
	height: 15px;
	background-position: -1753px 0
}
.iti-flag.gb {
	height: 10px;
	background-position: -1775px 0
}
.iti-flag.gd {
	height: 12px;
	background-position: -1797px 0
}
.iti-flag.ge {
	height: 14px;
	background-position: -1819px 0
}
.iti-flag.gf {
	height: 14px;
	background-position: -1841px 0
}
.iti-flag.gg {
	height: 14px;
	background-position: -1863px 0
}
.iti-flag.gh {
	height: 14px;
	background-position: -1885px 0
}
.iti-flag.gi {
	height: 10px;
	background-position: -1907px 0
}
.iti-flag.gl {
	height: 14px;
	background-position: -1929px 0
}
.iti-flag.gm {
	height: 14px;
	background-position: -1951px 0
}
.iti-flag.gn {
	height: 14px;
	background-position: -1973px 0
}
.iti-flag.gp {
	height: 14px;
	background-position: -1995px 0
}
.iti-flag.gq {
	height: 14px;
	background-position: -2017px 0
}
.iti-flag.gr {
	height: 14px;
	background-position: -2039px 0
}
.iti-flag.gs {
	height: 10px;
	background-position: -2061px 0
}
.iti-flag.gt {
	height: 13px;
	background-position: -2083px 0
}
.iti-flag.gu {
	height: 11px;
	background-position: -2105px 0
}
.iti-flag.gw {
	height: 10px;
	background-position: -2127px 0
}
.iti-flag.gy {
	height: 12px;
	background-position: -2149px 0
}
.iti-flag.hk {
	height: 14px;
	background-position: -2171px 0
}
.iti-flag.hm {
	height: 10px;
	background-position: -2193px 0
}
.iti-flag.hn {
	height: 10px;
	background-position: -2215px 0
}
.iti-flag.hr {
	height: 10px;
	background-position: -2237px 0
}
.iti-flag.ht {
	height: 12px;
	background-position: -2259px 0
}
.iti-flag.hu {
	height: 10px;
	background-position: -2281px 0
}
.iti-flag.ic {
	height: 14px;
	background-position: -2303px 0
}
.iti-flag.id {
	height: 14px;
	background-position: -2325px 0
}
.iti-flag.ie {
	height: 10px;
	background-position: -2347px 0
}
.iti-flag.il {
	height: 15px;
	background-position: -2369px 0
}
.iti-flag.im {
	height: 10px;
	background-position: -2391px 0
}
.iti-flag.in {
	height: 14px;
	background-position: -2413px 0
}
.iti-flag.io {
	height: 10px;
	background-position: -2435px 0
}
.iti-flag.iq {
	height: 14px;
	background-position: -2457px 0
}
.iti-flag.ir {
	height: 12px;
	background-position: -2479px 0
}
.iti-flag.is {
	height: 15px;
	background-position: -2501px 0
}
.iti-flag.it {
	height: 14px;
	background-position: -2523px 0
}
.iti-flag.je {
	height: 12px;
	background-position: -2545px 0
}
.iti-flag.jm {
	height: 10px;
	background-position: -2567px 0
}
.iti-flag.jo {
	height: 10px;
	background-position: -2589px 0
}
.iti-flag.jp {
	height: 14px;
	background-position: -2611px 0
}
.iti-flag.ke {
	height: 14px;
	background-position: -2633px 0
}
.iti-flag.kg {
	height: 12px;
	background-position: -2655px 0
}
.iti-flag.kh {
	height: 13px;
	background-position: -2677px 0
}
.iti-flag.ki {
	height: 10px;
	background-position: -2699px 0
}
.iti-flag.km {
	height: 12px;
	background-position: -2721px 0
}
.iti-flag.kn {
	height: 14px;
	background-position: -2743px 0
}
.iti-flag.kp {
	height: 10px;
	background-position: -2765px 0
}
.iti-flag.kr {
	height: 14px;
	background-position: -2787px 0
}
.iti-flag.kw {
	height: 10px;
	background-position: -2809px 0
}
.iti-flag.ky {
	height: 10px;
	background-position: -2831px 0
}
.iti-flag.kz {
	height: 10px;
	background-position: -2853px 0
}
.iti-flag.la {
	height: 14px;
	background-position: -2875px 0
}
.iti-flag.lb {
	height: 14px;
	background-position: -2897px 0
}
.iti-flag.lc {
	height: 10px;
	background-position: -2919px 0
}
.iti-flag.li {
	height: 12px;
	background-position: -2941px 0
}
.iti-flag.lk {
	height: 10px;
	background-position: -2963px 0
}
.iti-flag.lr {
	height: 11px;
	background-position: -2985px 0
}
.iti-flag.ls {
	height: 14px;
	background-position: -3007px 0
}
.iti-flag.lt {
	height: 12px;
	background-position: -3029px 0
}
.iti-flag.lu {
	height: 12px;
	background-position: -3051px 0
}
.iti-flag.lv {
	height: 10px;
	background-position: -3073px 0
}
.iti-flag.ly {
	height: 10px;
	background-position: -3095px 0
}
.iti-flag.ma {
	height: 14px;
	background-position: -3117px 0
}
.iti-flag.mc {
	height: 15px;
	background-position: -3139px 0
}
.iti-flag.md {
	height: 10px;
	background-position: -3160px 0
}
.iti-flag.me {
	height: 10px;
	background-position: -3182px 0
}
.iti-flag.mf {
	height: 14px;
	background-position: -3204px 0
}
.iti-flag.mg {
	height: 14px;
	background-position: -3226px 0
}
.iti-flag.mh {
	height: 11px;
	background-position: -3248px 0
}
.iti-flag.mk {
	height: 10px;
	background-position: -3270px 0
}
.iti-flag.ml {
	height: 14px;
	background-position: -3292px 0
}
.iti-flag.mm {
	height: 14px;
	background-position: -3314px 0
}
.iti-flag.mn {
	height: 10px;
	background-position: -3336px 0
}
.iti-flag.mo {
	height: 14px;
	background-position: -3358px 0
}
.iti-flag.mp {
	height: 10px;
	background-position: -3380px 0
}
.iti-flag.mq {
	height: 14px;
	background-position: -3402px 0
}
.iti-flag.mr {
	height: 14px;
	background-position: -3424px 0
}
.iti-flag.ms {
	height: 10px;
	background-position: -3446px 0
}
.iti-flag.mt {
	height: 14px;
	background-position: -3468px 0
}
.iti-flag.mu {
	height: 14px;
	background-position: -3490px 0
}
.iti-flag.mv {
	height: 14px;
	background-position: -3512px 0
}
.iti-flag.mw {
	height: 14px;
	background-position: -3534px 0
}
.iti-flag.mx {
	height: 12px;
	background-position: -3556px 0
}
.iti-flag.my {
	height: 10px;
	background-position: -3578px 0
}
.iti-flag.mz {
	height: 14px;
	background-position: -3600px 0
}
.iti-flag.na {
	height: 14px;
	background-position: -3622px 0
}
.iti-flag.nc {
	height: 10px;
	background-position: -3644px 0
}
.iti-flag.ne {
	height: 15px;
	background-position: -3666px 0
}
.iti-flag.nf {
	height: 10px;
	background-position: -3686px 0
}
.iti-flag.ng {
	height: 10px;
	background-position: -3708px 0
}
.iti-flag.ni {
	height: 12px;
	background-position: -3730px 0
}
.iti-flag.nl {
	height: 14px;
	background-position: -3752px 0
}
.iti-flag.no {
	height: 15px;
	background-position: -3774px 0
}
.iti-flag.np {
	height: 15px;
	background-position: -3796px 0
}
.iti-flag.nr {
	height: 10px;
	background-position: -3811px 0
}
.iti-flag.nu {
	height: 10px;
	background-position: -3833px 0
}
.iti-flag.nz {
	height: 10px;
	background-position: -3855px 0
}
.iti-flag.om {
	height: 10px;
	background-position: -3877px 0
}
.iti-flag.pa {
	height: 14px;
	background-position: -3899px 0
}
.iti-flag.pe {
	height: 14px;
	background-position: -3921px 0
}
.iti-flag.pf {
	height: 14px;
	background-position: -3943px 0
}
.iti-flag.pg {
	height: 15px;
	background-position: -3965px 0
}
.iti-flag.ph {
	height: 10px;
	background-position: -3987px 0
}
.iti-flag.pk {
	height: 14px;
	background-position: -4009px 0
}
.iti-flag.pl {
	height: 13px;
	background-position: -4031px 0
}
.iti-flag.pm {
	height: 14px;
	background-position: -4053px 0
}
.iti-flag.pn {
	height: 10px;
	background-position: -4075px 0
}
.iti-flag.pr {
	height: 14px;
	background-position: -4097px 0
}
.iti-flag.ps {
	height: 10px;
	background-position: -4119px 0
}
.iti-flag.pt {
	height: 14px;
	background-position: -4141px 0
}
.iti-flag.pw {
	height: 13px;
	background-position: -4163px 0
}
.iti-flag.py {
	height: 11px;
	background-position: -4185px 0
}
.iti-flag.qa {
	height: 8px;
	background-position: -4207px 0
}
.iti-flag.re {
	height: 14px;
	background-position: -4229px 0
}
.iti-flag.ro {
	height: 14px;
	background-position: -4251px 0
}
.iti-flag.rs {
	height: 14px;
	background-position: -4273px 0
}
.iti-flag.ru {
	height: 14px;
	background-position: -4295px 0
}
.iti-flag.rw {
	height: 14px;
	background-position: -4317px 0
}
.iti-flag.sa {
	height: 14px;
	background-position: -4339px 0
}
.iti-flag.sb {
	height: 10px;
	background-position: -4361px 0
}
.iti-flag.sc {
	height: 10px;
	background-position: -4383px 0
}
.iti-flag.sd {
	height: 10px;
	background-position: -4405px 0
}
.iti-flag.se {
	height: 13px;
	background-position: -4427px 0
}
.iti-flag.sg {
	height: 14px;
	background-position: -4449px 0
}
.iti-flag.sh {
	height: 10px;
	background-position: -4471px 0
}
.iti-flag.si {
	height: 10px;
	background-position: -4493px 0
}
.iti-flag.sj {
	height: 15px;
	background-position: -4515px 0
}
.iti-flag.sk {
	height: 14px;
	background-position: -4537px 0
}
.iti-flag.sl {
	height: 14px;
	background-position: -4559px 0
}
.iti-flag.sm {
	height: 15px;
	background-position: -4581px 0
}
.iti-flag.sn {
	height: 14px;
	background-position: -4603px 0
}
.iti-flag.so {
	height: 14px;
	background-position: -4625px 0
}
.iti-flag.sr {
	height: 14px;
	background-position: -4647px 0
}
.iti-flag.ss {
	height: 10px;
	background-position: -4669px 0
}
.iti-flag.st {
	height: 10px;
	background-position: -4691px 0
}
.iti-flag.sv {
	height: 12px;
	background-position: -4713px 0
}
.iti-flag.sx {
	height: 14px;
	background-position: -4735px 0
}
.iti-flag.sy {
	height: 14px;
	background-position: -4757px 0
}
.iti-flag.sz {
	height: 14px;
	background-position: -4779px 0
}
.iti-flag.ta {
	height: 10px;
	background-position: -4801px 0
}
.iti-flag.tc {
	height: 10px;
	background-position: -4823px 0
}
.iti-flag.td {
	height: 14px;
	background-position: -4845px 0
}
.iti-flag.tf {
	height: 14px;
	background-position: -4867px 0
}
.iti-flag.tg {
	height: 13px;
	background-position: -4889px 0
}
.iti-flag.th {
	height: 14px;
	background-position: -4911px 0
}
.iti-flag.tj {
	height: 10px;
	background-position: -4933px 0
}
.iti-flag.tk {
	height: 10px;
	background-position: -4955px 0
}
.iti-flag.tl {
	height: 10px;
	background-position: -4977px 0
}
.iti-flag.tm {
	height: 14px;
	background-position: -4999px 0
}
.iti-flag.tn {
	height: 14px;
	background-position: -5021px 0
}
.iti-flag.to {
	height: 10px;
	background-position: -5043px 0
}
.iti-flag.tr {
	height: 14px;
	background-position: -5065px 0
}
.iti-flag.tt {
	height: 12px;
	background-position: -5087px 0
}
.iti-flag.tv {
	height: 10px;
	background-position: -5109px 0
}
.iti-flag.tw {
	height: 14px;
	background-position: -5131px 0
}
.iti-flag.tz {
	height: 14px;
	background-position: -5153px 0
}
.iti-flag.ua {
	height: 14px;
	background-position: -5175px 0
}
.iti-flag.ug {
	height: 14px;
	background-position: -5197px 0
}
.iti-flag.um {
	height: 11px;
	background-position: -5219px 0
}
.iti-flag.us {
	height: 11px;
	background-position: -5241px 0
}
.iti-flag.uy {
	height: 14px;
	background-position: -5263px 0
}
.iti-flag.uz {
	height: 10px;
	background-position: -5285px 0
}
.iti-flag.va {
	height: 15px;
	background-position: -5307px 0
}
.iti-flag.vc {
	height: 14px;
	background-position: -5324px 0
}
.iti-flag.ve {
	height: 14px;
	background-position: -5346px 0
}
.iti-flag.vg {
	height: 10px;
	background-position: -5368px 0
}
.iti-flag.vi {
	height: 14px;
	background-position: -5390px 0
}
.iti-flag.vn {
	height: 14px;
	background-position: -5412px 0
}
.iti-flag.vu {
	height: 12px;
	background-position: -5434px 0
}
.iti-flag.wf {
	height: 14px;
	background-position: -5456px 0
}
.iti-flag.ws {
	height: 10px;
	background-position: -5478px 0
}
.iti-flag.xk {
	height: 15px;
	background-position: -5500px 0
}
.iti-flag.ye {
	height: 14px;
	background-position: -5522px 0
}
.iti-flag.yt {
	height: 14px;
	background-position: -5544px 0
}
.iti-flag.za {
	height: 14px;
	background-position: -5566px 0
}
.iti-flag.zm {
	height: 14px;
	background-position: -5588px 0
}
.iti-flag.zw {
	height: 10px;
	background-position: -5610px 0
}
.iti-flag {
	width: 20px;
	height: 15px;
	box-shadow: 0 0 1px 0 #888;
	background-image: url(../img/flags/flags.png);
	background-repeat: no-repeat;
	background-color: #DBDBDB;
	background-position: 20px 0
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 2dppx),
only screen and (min-resolution: 192dpi) {
	.iti-flag {
		background-image: url(../img/flags/flags@2x.png)
	}
}
.iti-flag.np {
	background-color: transparent
}
.slick-slider {
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent
}
.slick-list,
.slick-slider {
	position: relative;
	display: block
}
.slick-list {
	overflow: hidden;
	margin: 0;
	padding: 0
}
.slick-list:focus {
	outline: none
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand
}
.slick-slider .slick-list,
.slick-slider .slick-track {
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}
.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block
}
.slick-track:after,
.slick-track:before {
	content: "";
	display: table
}
.slick-track:after {
	clear: both
}
.slick-loading .slick-track {
	visibility: hidden
}
.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none
}
[dir=rtl] .slick-slide {
	float: right
}
.slick-slide:focus {
	outline: 0
}
.slick-slide.slick-loading img {
	display: none
}
.slick-slide.dragging img {
	pointer-events: none
}
.slick-initialized .slick-slide {
	display: block
}
.slick-loading .slick-slide {
	visibility: hidden
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent
}
.slick-arrow.slick-hidden {
	display: none
}
.slick-loading .slick-list {
	background: #fff url(../img/ajax-loader.gif) 50% no-repeat
}
.slick-dots {
	position: absolute;
	bottom: 30px;
	left: 0;
	display: block;
	list-style: none;
	text-align: center;
	width: 100%
}
.slick-dots li {
	position: relative;
	display: inline-block;
	margin: 0 5px;
	padding: 0
}
.slick-dots li,
.slick-dots li button {
	height: 14px;
	width: 14px;
	cursor: pointer
}
.slick-dots li button {
	border: 0;
	background: transparent;
	display: block;
	outline: none;
	line-height: 0;
	font-size: 0;
	color: transparent
}
.slick-dots li button:focus {
	outline: none
}
.slick-dots li button:hover:before {
	background: #fff;
}
.slick-dots li button:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 14px;
	height: 14px;
	border-radius: 50%;
	box-shadow: inset 0 0 0 3px #fff;
	-webkit-transition: background .2s;
	transition: background .2s
}
.slick-dots li.slick-active button:before {
	background: #fff;
}
html {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
*,
:after,
:before {
	box-sizing: inherit
}
body {
	font: 400 16px/1.5 Open Sans, sans-serif;
	color: #6e6e6e;
	background: #fff;
	min-width: 320px;
	-webkit-transition: opacity .3s ease-in;
	transition: opacity .3s ease-in
}
body.is-preload {
	opacity: 0
}
ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none
}
a {
	color: #ff9700;
	-webkit-transition: all .2s;
	transition: all .2s;
	text-decoration: none
}
a:hover {
	color: #ff8400
}
img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%
}
p {
	margin: 0
}
p+p {
	margin-top: 1em
}
h1,
h2,
h3 {
	margin: 0;
	line-height: 1;
	font-weight: 400
}
h1 {
	font-size: 62px
}
@media (max-width: 768px) {
	h1 {
		font-size: 45px
	}
}
@media (max-width: 480px) {
	h1 {
		font-size: 36px
	}
}
h2 {
	font-size: 45px
}
@media (max-width: 768px) {
	h2 {
		font-size: 32px
	}
}
@media (max-width: 480px) {
	h2 {
		font-size: 26px
	}
}
h3 {
	font-size: 24px
}
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
	content: " ";
	display: table
}
.clearfix:after,
.container-fluid:after,
.container:after,
.row:after {
	clear: both
}
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
	content: " ";
	display: table
}
.clearfix:after,
.container-fluid:after,
.container:after,
.row:after {
	clear: both
}
.container,
.header {
	position: relative
}
.header {
	z-index: 1;
	background: #fff;
	box-shadow: 0 0 12px rgba(0, 0, 0, .5)
}
.header_top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 20px 0
}
.header_top.no-lang {
	padding: 23px 0
}
.header_logo {
	margin-right: auto
}
.header_info,
.header_logo {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto
}
.header_slogan {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 7px 15px 0;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	text-align: center;
	font-size: 20px;
	color: #57707b
}
@media (max-width: 1200px) {
	.header_slogan {
		display: none
	}
}
.header_lang,
.header_phone {
	display: inline-block;
	vertical-align: middle
}
.header_phone {
	font-size: 24px;
	color: #6e6e6e
}
.header_phone .textwidget:before {
	content: "";
	display: inline-block;
	vertical-align: -6px;
	width: 30px;
	height: 30px;
	margin-right: 15px;
	background: url(../img/phone-icon.svg) no-repeat;
	background-size: contain
}
.header_phone:hover {
	color: inherit
}
.header_callback {
	margin-left: 20px;
	padding: 11px 20px;
	font-size: 18px
}
.header_nav {
	background: #fafafa
}
.header_nav ul li {
	display: inline-block;
	vertical-align: middle;
	padding: 6px 20px
}
.header_nav ul li a {
	font-size: 16px;
	color: #6e6e6e
}
.header_nav ul li a.active,
.header_nav ul li a:hover {
	color: #ff8400
}
@media (min-width: 1200px) {
	.header_navwrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}
}
@media (max-width: 1200px) {
	.header_nav ul li {
		padding: 4px 10px
	}
}
@media (max-width: 992px) {
	.header_top {
		-webkit-box-align: center;
		-ms-flex-align: center;
		-ms-grid-row-align: center;
		align-items: center
	}
	.header_callback {
		display: none
	}
	.header_nav ul {
		display: none;
		position: absolute;
		top: 100%;
		right: 15px;
		background: #fafafa;
		z-index: 25;
		box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, .5)
	}
	.header_nav ul li {
		display: block;
		padding: 10px 25px
	}
	.header_nav ul li:not(:last-child) {
		border-bottom: 1px solid #d1d1d1
	}
	.header_lang {
		margin: 0 25px 0 0
	}
	.header_lang a {
		font-size: 20px;
		text-transform: uppercase
	}
	.header_lang a.active {
		display: none
	}
}
@media (max-width: 480px) {
	.header_logo a {
		display: inline-block;
		max-width: 160px
	}
}
.nav-toggler {
	width: 50px;
	height: 35px;
	border: 0 none;
	cursor: pointer;
	-webkit-appearance: none;
	position: relative;
	margin: 0;
	overflow: visible;
	font: 0/0 a;
	font-family: inherit;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: -12px;
	color: transparent;
	background: transparent;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}
.nav-toggler::-moz-focus-inner {
	border: 0;
	padding: 0
}
.nav-toggler:focus {
	outline: 0
}
.nav-toggler span {
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background: #ff9700;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .15s ease-in-out;
	transition: .15s ease-in-out
}
.nav-toggler span:nth-child(1),
.nav-toggler span:nth-child(2),
.nav-toggler span:nth-child(3) {
	-webkit-transform-origin: left center;
	transform-origin: left center
}
.nav-toggler span:nth-child(1) {
	top: 0
}
.nav-toggler span:nth-child(2) {
	top: 15px
}
.nav-toggler span:nth-child(3) {
	top: 30px
}
.nav-toggler.open span:nth-child(1) {
	top: -3px;
	left: 7px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}
.nav-toggler.open span:nth-child(2) {
	width: 0;
	opacity: 0
}
.nav-toggler.open span:nth-child(3) {
	top: 32px;
	left: 7px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg)
}
@media (min-width: 992px) {
	.nav-toggler {
		display: none
	}
}
.b-cover {
	position: relative
}
.b-cover__slider li {
	min-height: 630px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0
}
.b-cover__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
@media (min-width: 992px) {
	.b-cover__inner {
		left: 50%;
		width: 966px;
		margin-left: -483px
	}
}
@media (min-width: 1200px) {
	.b-cover__inner {
		width: 1158px;
		margin-left: -579px
	}
}
.b-cover__side {
	position: relative;
	padding: 30px;
	color: #fff
}
@media (max-width: 992px) {
	.b-cover__side {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start
	}
}
@media (min-width: 992px) {
	.b-cover__side {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 600px;
		flex: 0 1 600px;
		min-width: 600px;
		padding: 40px 15px 0 0
	}
}
.b-cover__overlay {
	display: none;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 0%;
	flex: 1 0 0%;
	padding: 30px 0 0 30px;
	color: #26304b;
	background: rgba(255, 255, 255, .72)
}
@media (min-width: 992px) {
	.b-cover__overlay {
		display: block
	}
}
@media (min-width: 1200px) {
	.b-cover__overlay {
		padding-left: 100px
	}
}
.b-cover__more {
	position: relative;
	padding-left: 18px;
	color: #fff
}
.b-cover__more:after,
.b-cover__more:before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 50%;
	left: 1px;
	margin-top: -5px;
	border: 1px solid #fff;
	border-left-width: 0;
	border-top-width: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all .3s;
	transition: all .3s
}
.b-cover__more:before {
	left: -4px
}
.b-cover__more:hover {
	color: #ff9700
}
.b-cover__more:hover:after,
.b-cover__more:hover:before {
	border-color: #ff9700
}
.b-cover__title {
	margin: 40px 0 35px;
	text-transform: uppercase
}
.b-cover__description {
	margin-bottom: 35px;
	font-size: 20px;
	line-height: 28px;
	font-weight: 300;
	text-transform: uppercase
}
@media (min-width: 480px) {
	.b-cover__description {
		font-size: 30px;
		line-height: 48px
	}
}
.b-cover__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.b-cover__item:not(:last-child) {
	margin-bottom: 40px
}
.b-cover__item-icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	font-size: 18px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	background: #ff9700
}
.b-cover__item-icon .large {
	font-size: 45px;
}
.b-cover__item-icon .small {
	font-size: 25px;
	font-weight: 300;
}
.b-cover__item-desc {
	padding: 0 15px 0 25px;
}
.b-promo {
	padding: 40px 0 20px;
	font-size: 22px;
	font-weight: 300;
	line-height: 1.15;
	color: #26304b;
	background: #fff;
}
@media (max-width: 992px) {
	.b-promo {
		padding: 30px 0;
	}
}
.section {
	position: relative;
	padding: 40px 0;
}
.section-title {
	line-height: 1.1;
	text-align: center;
	color: #57707b
}
.section-subtitle {
	margin-top: 25px;
	font-size: 24px;
	font-weight: 300
}
@media (max-width: 992px) {
	.section {
		padding: 30px 0 10px
	}
}
.b-plus_title {
	margin-bottom: 30px
}
.b-plus_item {
	margin-bottom: 30px
}
.b-plus_item_title {
	margin-top: 20px;
	text-align: center;
}
.b-features {
	background: #f5f5f5
}
.b-features_title {
	margin-bottom: 60px
}
.b-features_item {
	text-align: center
}
.b-features_item:hover .b-features_item_icon {
	border-color: #ff9700;
	background: #ff9700
}
.b-features_item:hover .b-features_item_icon svg .fill {
	fill: #fff
}
.b-features_item:hover .b-features_item_title {
	border-color: #ff9700
}
.b-features_item.center .b-features_item_desc {
	padding: 10px 15px 0
}
.b-features_item_icon {
	display: inline-block;
	width: 120px;
	height: 120px;
	margin-bottom: 25px;
	border: 1px solid #9f9f9f;
	border-radius: 50%;
	line-height: 120px;
	-webkit-transition: all .2s;
	transition: all .2s
}
.b-features_item_icon svg {
	display: inline-block;
	vertical-align: middle
}
.b-features_item_icon svg .fill {
	-webkit-transition: fill .2s;
	transition: fill .2s
}
.b-features_item_title {
	display: inline-block;
	padding-bottom: 15px;
	color: #57707b;
	font-size: 22px;
	border-bottom: 2px solid #9f9f9f;
	-webkit-transition: all .2s;
	transition: all .2s
}
.b-features_item_desc {
	padding: 10px 0 0
}
.b-features_item_img {
	margin-top: 70px
}
@media (max-width: 992px) {
	.b-features_item,
	.b-features_title {
		margin-bottom: 30px
	}
}
.b-products_title {
	margin-bottom: 40px
}
.b-products_item {
	position: relative;
	margin-bottom: 25px
}
.b-products_item_img {
	overflow: hidden;
	margin-bottom: 10px;
	text-align: center
}
.b-products_item_img img {
	-webkit-transition: all .2s;
	transition: all .2s
}
.b-products_item_img:hover img {
	-webkit-transform: translateZ(0) scale(1.2) rotate(8deg);
	transform: translateZ(0) scale(1.2) rotate(8deg)
}
.b-products_item_label {
	position: absolute;
	width: 100%;
	top: 10px;
	left: 0px;
	padding: 6px 10px;
	font-size: 20px;
	font-weight: 300;
	line-height: 1;
	color: #26304b;
	background: rgba(255, 255, 255, .95)
}
@media (min-width: 480px) {
	.b-products_item_label {
		top: 30px;
		left: 0px;
		font-size: 30px
	}
}
.b-products_btn {
	padding-top: 40px;
	text-align: center
}
@media (max-width: 992px) {
	.b-products {
		padding-bottom: 30px
	}
}
.b-delivery {
	background: #f5f5f5
}
.b-delivery_title {
	margin-bottom: 50px
}
.b-delivery_item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 45px;
	padding-left: 20px;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.1
}
.b-delivery_item img {
	margin-right: 25px
}
.b-delivery_btn {
	margin-bottom: 30px;
	text-align: center
}
@media (max-width: 992px) {
	.b-delivery_item {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 0;
		text-align: center
	}
	.b-delivery_item img {
		margin: 0 0 10px
	}
}
@media (max-width: 768px) {
	.b-delivery_item,
	.b-delivery_title {
		margin-bottom: 30px
	}
}
.b-heater_title {
	margin-bottom: 45px
}
.b-heater_item {
	margin-bottom: 25px;
	border: 1px solid #e0e0e0
}
.b-heater_item_img {
	text-align: center
}
.b-heater_item_desc {
	padding: 30px
}
.b-heater_item_desc h3 {
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: 300
}
.b-heater_item_desc .btn {
	padding: 10px 5px;
	font-size: 16px
}
.b-heater_description {
	padding-top: 30px;
	font-size: 22px;
	line-height: 1.45;
	text-align: center;
	color: #57707b
}
@media (max-width: 992px) {
	.b-heater_description {
		padding: 10px 0 30px;
		font-size: 20px
	}
}
.b-consult {
	color: #fff;
	background: url(../img/b-video-bg.jpg) no-repeat 50% 0;
	background-size: cover
}
.b-consult_wrap {
	padding: 50px 100px;
	background: #26304b
}
.b-consult_desc {
	padding: 50px 0 0 50px
}
.b-consult_desc h2 {
	margin-bottom: 30px;
	font-size: 38px;
	font-weight: 300;
	text-transform: uppercase
}
@media (max-width: 1200px) {
	.b-consult_wrap {
		padding: 50px
	}
}
@media (max-width: 992px) {
	.b-consult_desc {
		padding: 50px
	}
}
@media (max-width: 768px) {
	.b-consult_desc,
	.b-consult_wrap {
		padding: 30px
	}
}
.b-gettest {
	padding: 60px 0;
	color: #6e6e6e;
	background: #f1f6fd
}
.b-gettest_title {
	color: #061f43
}
.b-gettest_title h2 {
	font-size: 50px
}
.b-gettest_subtitle {
	margin: 30px 0 45px;
	font-size: 16px;
	font-weight: 400
}
@media (max-width: 992px) {
	.b-gettest {
		padding: 30px 0
	}
	.b-gettest_subtitle {
		margin: 25px 0
	}
}
@media (max-width: 768px) {
	.b-gettest_title h2 {
		font-size: 32px
	}
}
@media (max-width: 480px) {
	.b-gettest_title h2 {
		font-size: 26px
	}
}
.b-video_title h2 {
	color: #fff
}
.b-video_wrap {
	position: relative;
	overflow: hidden;
	height: 0;
	margin: 60px 0;
	padding: 0 0 56.25%;
	background: #fff url(../img/ajax-loader.gif) no-repeat 50% 50%
}
.b-video_wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
@media (max-width: 992px) {
	.b-video_wrap {
		margin: 40px 0
	}
}
.b-quality_title {
	margin-bottom: 70px
}
.b-quality_subtitle {
	margin-top: 35px;
	font-weight: 400
}
.b-quality_item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 40px;
	color: #57707b
}
.b-quality_item_img {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding-right: 30px
}
.b-quality_item_title {
	margin-bottom: 32px
}
.b-quality_item_title span {
	position: relative
}
.b-quality_item_title span:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: -18px;
	width: 100%;
	height: 2px;
	background: #ff9700
}
.b-quality_item a {
	text-decoration: underline
}
.b-quality_item a:hover {
	text-decoration: none
}
@media (max-width: 1200px) {
	.b-quality_item {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		text-align: center
	}
	.b-quality_item_img {
		padding: 0 0 30px
	}
}
@media (max-width: 992px) {
	.b-quality_title {
		margin-bottom: 40px
	}
}
.b-history_title {
	margin-bottom: 50px
}
.b-history_inner {
	padding: 0 200px
}
@media (max-width: 1200px) {
	.b-history_inner {
		padding: 0 100px
	}
}
@media (max-width: 992px) {
	.b-history_inner {
		padding: 0
	}
}
.timeline {
	margin-bottom: 30px
}
.timeline-dots {
	position: relative;
	margin-bottom: 50px
}
.timeline-dots ul {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}
.timeline-dots ul a {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	font: 0/0 a;
	color: transparent;
	background: #d1d1d1
}
.timeline-dots ul a:hover {
	background: #b8b8b8
}
.timeline-dots ul a.active,
.timeline-dots ul a.current {
	background: #ff9700
}
.timeline-dots ul a.active:hover,
.timeline-dots ul a.current:hover {
	background: #ff8400
}
.timeline-dots ul a.current {
	box-shadow: 0 0 0 5px #ffc673;
	-webkit-transform: scale(1.4);
	transform: scale(1.4)
}
.timeline-dots-line,
.timeline-dots:before {
	position: absolute;
	top: 50%;
	height: 2px;
	margin-top: -1px
}
.timeline-dots:before {
	content: "";
	display: block;
	left: 6px;
	right: 6px;
	background: #d1d1d1
}
.timeline-dots-line {
	left: 0;
	width: 0;
	background: #ff9700
}
.timeline-data {
	padding: 0 100px
}
.timeline-data li:not(.active) {
	display: none
}
.timeline-title {
	margin-bottom: 25px;
	font-size: 35px;
	font-weight: 700;
	color: #ff9700
}
.timeline-title img {
	position: relative;
	top: -5px
}
.timeline-intro {
	color: #57707b
}
@media (max-width: 992px) {
	.timeline-data {
		padding: 0
	}
}
.b-suppliers {
	padding: 0;
	color: #fff
}
.b-suppliers_title {
	color: inherit
}
.b-suppliers_subtitle {
	margin-top: 20px;
	font-size: 30px;
	font-weight: 400
}
.b-suppliers_top {
	position: relative;
	padding: 90px 0 55px;
	background: #ff9700
}
.b-suppliers_top:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	top: 100%;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
	border-style: solid;
	border-width: 40px 40px 0;
	border-color: #ff9700 transparent transparent
}
.b-suppliers_main {
	padding: 90px 0 55px;
	background: url(../img/b-suppliers-bg.jpg) no-repeat 50% 0;
	background-size: cover
}
.b-suppliers_intro {
	padding: 35px 0;
	font-size: 45px;
	line-height: 1.22
}
.b-suppliers_subintro {
	font-size: 22px;
	line-height: 1.64
}
@media (max-width: 1200px) {
	.b-suppliers_top {
		padding: 30px 0
	}
	.b-suppliers_main {
		padding: 60px 0 45px
	}
	.b-suppliers_intro {
		padding: 0;
		font-size: 35px
	}
	.b-suppliers_subintro {
		margin-bottom: 30px
	}
}
@media (max-width: 992px) {
	.b-suppliers_subtitle {
		font-size: 24px
	}
	.b-suppliers_intro {
		font-size: 30px
	}
	.b-suppliers_subintro {
		font-size: 18px
	}
}
.b-other_title {
	margin-bottom: 70px
}
.b-other_item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-bottom: 40px;
	text-align: center
}
.b-other_item>* {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto
}
.b-other_item_img {
	margin-bottom: 30px
}
.b-other_item_img img {
	overflow: hidden;
	border-radius: 50%;
	border: 5px solid rgba(255, 152, 0, .54)
}
.b-other_item_intro {
	margin-bottom: 30px
}
@media (max-width: 992px) {
	.b-other_item {
		min-height: 465px
	}
}
@media (max-width: 768px) {
	.b-other_title {
		margin-bottom: 40px
	}
	.b-other_item {
		min-height: auto
	}
	.b-other_item_img,
	.b-other_item_intro {
		margin-bottom: 20px
	}
}
.b-contacts {
	padding: 0
}
.b-contacts_top {
	position: relative;
	padding: 35px 0 30px;
	background: #f1f6fd;
	z-index: 10
}
.b-contacts_top:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	top: 100%;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
	border-style: solid;
	border-width: 40px 40px 0;
	border-color: #f1f6fd transparent transparent
}
.b-contacts_overlay {
	position: absolute;
	left: 15px;
	top: calc(100% + 115px);
	z-index: 20;
	width: 425px;
	padding: 75px 40px 90px;
	background: #fff;
	box-shadow: 0 0 9px rgba(0, 0, 0, .25)
}
.b-contacts_overlay>:not(:last-child) {
	margin-bottom: 30px
}
.b-contacts_overlay_title {
	font-size: 30px;
	color: #ff9700
}
.b-contacts_overlay_address {
	font-size: 18px
}
.b-contacts_overlay_phone {
	font-size: 28px;
	font-weight: 300;
	line-height: 1.25
}
.b-contacts_overlay_phone a {
	color: #57707b
}
.b-contacts_map {
	height: 540px
}
@media (max-width: 992px) {
	.b-contacts_top {
		padding: 30px 0
	}
}
@media (max-width: 768px) {
	.b-contacts_overlay {
		top: calc(100% + 115px);
		right: 15px;
		width: auto;
		padding: 5px 15px 15px
	}
	.b-contacts_overlay>:not(:last-child) {
		margin-bottom: 5px
	}
	.b-contacts_overlay_title {
		font-size: 22px
	}
	.b-contacts_overlay_address {
		font-size: 16px
	}
	.b-contacts_overlay_phone {
		font-size: 25px;
		font-weight: 300
	}
}
.footer {
	padding: 4px 0;
	font-size: 14px;
	text-align: center
}
.modal-title {
	margin-bottom: 20px;
	font-size: 45px;
	line-height: 1.2;
	color: #57707b
}
.modal-title-small {
	font-size: 20px
}
.modal-message {
	font-size: 22px;
	font-weight: 300;
	color: #57707b
}
.modal .form-row:last-child {
	padding-top: 20px
}
@media (max-width: 768px) {
	.modal-title {
		font-size: 32px
	}
	.modal-title-small {
		font-size: 18px
	}
}
@media (max-width: 480px) {
	.modal-message {
		font-size: 18px
	}
}
@media (min-width: 979px) {
	ul.nav li.dropdown.show-on-hover:hover > ul.dropdown-menu {
		display: block;
	}
	.comment-list {
		.children {
			padding: 0;
			margin-left: 74px;
			padding-bottom: 15px;
		}
		.media {
			margin-top: 0;
		}
	}
}
.alignnone {
	margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}
.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
a img {
	&.alignright {
		float: right;
		margin: 5px 0 20px 20px;
	}
	&.alignnone {
		margin: 5px 20px 20px 0;
	}
	&.alignleft {
		float: left;
		margin: 5px 20px 20px 0;
	}
	&.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%;
	/* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
	&.alignnone,
	&.alignleft {
		margin: 5px 20px 20px 0;
	}
	&.alignright {
		margin: 5px 0 20px 20px;
	}
	img {
		border: 0 none;
		height: auto;
		margin: 0;
		max-width: 98.5%;
		padding: 0;
		width: auto;
	}
	p.wp-caption-text {
		font-size: 11px;
		line-height: 17px;
		margin: 0;
		padding: 0 4px 5px;
	}
}

/* Text meant only for screen readers. */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #21759b;
		display: block;
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
		/* Above WP toolbar. */
	}
}
.b-ticker {
	padding: 6px 0;
	background-color: #ff9800;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.35);
}
.b-ticker__wrap {
	overflow: hidden;
	white-space: nowrap;
}
@-webkit-keyframes scroll {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		-webkit-transform: translate(-100%, 0);
		transform: translate(-100%, 0);
	}
}
@-moz-keyframes scroll {
	0% {
		-moz-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		-moz-transform: translate(-100%, 0);
		transform: translate(-100%, 0);
	}
}
@keyframes scroll {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}
.marquee {
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	span {
		display: inline-block;
		padding-left: 100%;
		color: #fff;
		-webkit-animation: scroll 10s infinite linear;
		-moz-animation: scroll 10s infinite linear;
		animation: scroll 10s infinite linear;
	}
}
.product h1 {
	margin: 15px 0;
}
.header_logo {
	margin-top: 5px;
}
.header_top .header_lang {
	ul {
		margin: 0;
	}
	li {
		margin-left: 20px;
	}
	img {
		width: 35px;
	}
}
.dropdown-menu {
	display: none;
	margin-left: -20px;
	max-width: 370px;
	padding-top: 10px;
	padding-bottom: 20px;
	position: absolute;
	top: 36px;
	background: #fafafa;
	z-index: 999;
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.35);
}
.header_nav ul.dropdown-menu li {
	display: block;
	width: 100%;
	float: left;
	padding: 10px 25px;
}
.b-slider__slide {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
}
.b-slider {
	color: #fff;
}
.page-template-page-drobilki .page h1 {
	margin: 90px 0;
	text-align: center;
	line-height: 60px;
	text-transform: uppercase;
	font-size: 52px;
}
article.page {
	margin: 20px 0 40px;
}
.subpages {
	margin: 40px 0;
	.page-list-ext .page-list-ext-item {
		clear: none;
		text-align: center;
	}
	.page-list-ext-item .page-list-ext-image img {
		overflow: hidden;
		border-radius: 50%;
		border: 5px solid rgba(255, 152, 0, 0.54);
	}
	.page-list-ext-title {
		font-size: 20px;
	}
}
.section.page-we-sold {
	padding-top: 10px;
}
.b-contacts2 {
	padding: 30px 15px;
	text-align: center;
	background: #fff;
}
.page-template-page-product .b-contacts2 .title-line {
	.title-line-left,
	.title-line-right {
		top: 20px;
	}
}
.b-contacts__title {
	margin-bottom: 30px;
}
.section.page-history {
	padding-top: 10px;
}
.timeline-h {
	ul li {
		padding-bottom: 10px;
		min-height: 160px;
	}
	.timeline-title {
		margin-bottom: 10px;
	}
}
.timeline-dots-h {
	position: relative;
	top: 10px;
	left: 90px;
	ul a.active {
		background: #ff9700;
		display: block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		font: 0/0 a;
		color: transparent;
	}
	li {
		height: 160px;
	}
}
.timeline-dots-line-h,
.timeline-dots:before {
	position: absolute;
	width: 3px;
	left: 8px;
	background: #ff9700;
}
.page-template-page-product .section {
	padding: 30px 0;
}
.b-slider__lside h1,
.b-slider__desc3,
.b-slider__desc2,
.b-slider__desc1 {
	text-shadow: 1px 1px 4px black;
}
.page-template-page-product {
	.b-cover__subtitle,
	.b-cover__title {
		text-shadow: 1px 1px 4px black;
	}
}
body > div.page > {
	section.b-cover > div > div.b-cover__side.js-slider-dots > h1,
	div.b-cover > div.container > div > div:nth-child(1) > div > h1 {
		margin: 20px 0 35px;
		text-transform: uppercase;
		font-size: 52px !important;
		text-shadow: 1px 1px 4px black;
	}
}
.page-template-page-product {
	.title-line {
		.title-line-left {
			position: absolute;
			left: 30px;
			top: 30px;
			display: block;
			background: #ff9700;
			height: 4px;
			width: 200px;
		}
		.title-line-right {
			position: absolute;
			right: 30px;
			top: 30px;
			display: block;
			background: #ff9700;
			height: 4px;
			width: 200px;
		}
	}
	.row.b-consult_wrap {
		display: block;
	}
}
.single-post .b-consult,
.blog .b-consult {
	display: none;
}
.page-blog {
	padding-top: 20px;
	padding-bottom: 20px;
}
.page h1 {
	font-size: 32px;
}
.page-blog {
	h1 {
		margin-bottom: 20px;
		font-size: 32px;
	}
	.post {
		h3 {
			margin: 20px 0;
		}
		background: #fafafa;
		margin-bottom: 20px;
		p {
			margin-bottom: 10px;
		}
		.more {
			float: right;
			margin-top: 20px;
			margin-right: 20px;
		}
	}
}
.single-post .share,
.page-blog .share {
	margin-top: 20px;
}
.single-post .ya-share2__container_size_m .ya-share2__icon,
.page-blog .ya-share2__container_size_m .ya-share2__icon {
	width: 35px;
	height: 35px;
}
.single-post .post {
	margin: 20px 0 40px;
	h1 {
		font-size: 38px;
		margin-bottom: 20px;
	}
	.meta {
		margin-bottom: 10px;
		font-weight: 600;
	}
}
.page-template-page-drobilki .section-title {
	margin-bottom: 35px;
	text-align: left;
}
.page-template-page-pererabotka .b-stages_items .col-lg-3,
.page-template-page-drobilki .b-stages_items .col-lg-3 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
	min-height: 245px;
}
.section-title h2 {
	line-height: 1.375;
}
.page-template-page-product .section-title h2 {
	line-height: 1.375;
	max-width: 680px;
	margin: 0 auto;
}
.section-title h2 span {
	color: #f8982d;
}
.b-stages_items {
	background: url(../your-clean-template-3/slagprocessing/img/b-stages/bg.png) no-repeat 0 0;
}
.b-stages_item {
	text-align: left;
	text-align: left;
	margin-bottom: 45px;
}
.b-stages_item_desc {
	-webkit-transition: color .3s;
	transition: color .3s;
}
.b-stages_item_icon {
	position: relative;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	margin-bottom: 15px;
	background: #fbfbfb;
	-webkit-transition: box-shadow .3s;
	transition: box-shadow .3s;
	border-radius: 50%;
	box-shadow: 0 19px 32px rgba(25, 25, 25, 0.1);
	span {
		border-radius: 50%;
		box-shadow: 0 19px 32px rgba(25, 25, 25, 0.1);
	}
}
.b-stages_item:hover .b-stages_item_icon {
	box-shadow: 0 19px 32px rgba(248, 152, 45, 0.2);
}
.b-stages_item_icon span {
	display: block;
	width: 29px;
	height: 29px;
	position: absolute;
	top: -6px;
	right: -6px;
	color: #fbfbfb;
	font-weight: 400;
	line-height: 29px;
	text-align: center;
	background: #f8982d;
}
.b-stages_item:hover {
	.b-stages_item_icon img {
		-webkit-filter: none;
		filter: none;
	}
	.b-stages_item_desc {
		color: #f8982d;
	}
}
.flex-items-xs-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}
.page-template-page-drobilki {
	.input,
	.textarea {
		height: 50px;
		width: 100%;
		padding: 0 20px;
		font-size: 1em;
		font-weight: 400;
		line-height: 1;
		color: #737f83;
		background: #fff;
		border: 1px solid #fff;
		border-radius: 2px;
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.04);
		-webkit-transition: all .3s ease;
		transition: all .3s ease;
		-webkit-transition-property: border, background, color, box-shadow;
		transition-property: border, background, color, box-shadow;
	}
}
.modal-title span {
	color: #f8982d;
}
.b-cover__slider li {
	min-height: 500px;
}
.b-cover__overlay {
	padding-left: 40px;
}
.b-cover__description {
	font-size: 32px;
	line-height: 48px;
	text-shadow: 1px 1px 4px black;
}
.b-cover__description2 {
	text-shadow: 1px 1px 4px black;
}
.post-149 {
	text-align: center;
}
.page-template-page-we-buy {
	article.page {
		margin: 20px 0;
	}
	.b-suppliers_top {
		background: #fff;
		color: #6e6e6e;
		padding: 20px 0;
		.section-title h2 {
			margin-top: 30px;
		}
		&:before {
			display: none;
		}
	}
}
.page-template-page-pererabotka {
	.section .section-title {
		text-align: inherit;
	}
	.section-title h2 {
		font-size: 40px;
	}
}
.page-template-page-about {
	.b-cover__slider li {
		min-height: 600px;
	}
	.b-quality2_title {
		margin-bottom: 20px;
	}
	.b-quality2_item h3 {
		line-height: 1.375;
		max-width: 710px;
		margin: 20px auto;
	}
	.title-line .title-line-left {
		position: absolute;
		left: 140px;
		top: 35px;
		display: block;
		background: #ff9700;
		height: 4px;
		width: 60px;
	}
	.b-video_wrap {
		margin: 20px 0;
	}
}
.b-reg {
	background: url(../your-clean-template-3/img/b-reg.png) no-repeat 50% 0;
	background-size: cover;
}
.b-reg_desc h3 {
	font-size: 38px;
	text-transform: uppercase;
	line-height: 1.3;
	margin-top: 50px;
}
.b-reg_wrap {
	padding: 0 30px 20px 30px;
	background: #fff;
	h4 {
		text-transform: uppercase;
		color: #ff9700;
		font-size: 24px;
		font-weight: 400;
		text-align: center;
	}
}
.b-download_wrap h4 {
	text-transform: uppercase;
	color: #ff9700;
	font-size: 22px;
	font-weight: 400;
	text-align: center;
}
.b-download_desc {
	h3 {
		font-size: 38px;
		line-height: 1.2;
		margin-top: 50px;
		margin-bottom: 10px;
	}
	p {
		font-size: 20px;
	}
}
.b-excel img {
	margin-top: 55px;
}
.b-plus_item_title {
	padding-top: 190px;
}
.b-promo.o-nas {
	color: #fff;
	background: #26304b;
	padding: 40px 0;
}
.delimiter {
	font-weight: 600 !important;
	font-size: 18px;
	a {
		cursor: default;
		font-weight: 600 !important;
		&:hover {
			color: #6e6e6e;
		}
	}
}
.page-template-page-product .section.b-delivery {
	background: #fff;
}
.top-menu .soc-icon {
	width: 32px;
	height: 32px;
	overflow: hidden;
	margin-left: 10px;
	padding: 6px 0;
	a {
		&:hover {
			color: #fafafa;
			opacity: 0;
			width: 32px;
		}
		color: #fafafa;
		opacity: 0;
		width: 32px;
	}
}
.soc-icon {
	&.facebook {
		background: url(../img/fs.png) no-repeat;
		background-size: contain;
	}
	&.twitter {
		background: url(../img/twitter.png) no-repeat;
		background-size: contain;
	}
	&.linkedin {
		background: url(../img/l-in.png) no-repeat;
		background-size: contain;
	}
	&.youtube {
		background: url(../img/you-tube.png) no-repeat;
		background-size: contain;
	}
}
#wprmenu_menu.wprmenu_levels ul li.soc-icon {
	a {
		padding-left: 55px;
	}
	background-size: 40px;
	background-position: 10px center;
}
@media (max-width: 1025px) {
	.header_nav .container {
		width: 100%;
	}
	.page-template-page-product .title-line {
		.title-line-left {
			left: 10px;
			width: 12%;
		}
		.title-line-right {
			right: 10px;
			width: 12%;
		}
	}
	.owl-theme .owl-controls {
		display: none !important;
	}
}
@media (max-width: 770px) {
	.page-template-page-product .title-line {
		.title-line-left,
		.title-line-right {
			top: 20px;
		}
	}
	.b-reg_desc h3 {
		margin-top: 30px;
		margin-bottom: 40px;
	}
	.page {
		overflow-x: hidden;
	}
	.page-template-page-product .section-title h2 {
		max-width: 360px;
	}
}
@media (max-width: 450px) {
	.page {
		overflow-x: inherit;
	}
	.header_phone {
		display: none;
	}
	.page-blog .post .more {
		float: none;
		text-align: center;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.b-cover__side {
		padding: 10px 14px;
	}
	body > div.page > {
		section.b-cover > div > div.b-cover__side.js-slider-dots > h1,
		div.b-cover > div.container > div > div:nth-child(1) > div > h1 {
			font-size: 46px !important;
			margin: 5px 0 35px;
		}
	}
	.b-cover__description {
		margin-bottom: 15px;
		font-size: 20px;
		line-height: 28px;
		font-weight: 300;
		text-transform: uppercase;
	}
	.b-cover__description2 {
		margin-top: 5px;
	}
	.b-reg,
	.b-download {
		text-align: center;
	}
	.b-reg_desc h3 {
		font-size: 28px;
	}
	.page-template-page-about .title-line .title-line-left {
		position: absolute;
		left: 25%;
		top: 0px;
		display: block;
		background: #ff9700;
		height: 4px;
		width: 50%;
	}
	.b-consult_desc,
	.b-consult_wrap {
		padding: 20px;
	}
	.b-cover__lside {
		padding: 40px 15px;
	}
	body > div.page > div.b-cover > div.container > div > div:nth-child(1) > div > h1 {
		font-size: 42px !important;
	}
	.page-template-page-product {
		.title-line {
			.title-line-right {
				top: 32px;
				right: 20%;
				width: 50%;
			}
			.title-line-left {
				top: 32px;
				left: 20%;
				width: 50%;
			}
		}
		.b-contacts2 .title-line {
			.title-line-right,
			.title-line-left {
				top: 32px;
			}
		}
	}
	.page-blog .post {
		margin: 15px;
	}
	.b-slider__inner {
		padding-top: 40px;
	}
	.b-slider__desc2 {
		font-size: 60px;
	}
	.page-template-page-pererabotka {
		.section-title h2 {
			font-size: 32px;
		}
		.b-stages_items .col-lg-3 {
			max-width: 100%;
			min-height: 245px;
			text-align: center;
		}
	}
	.page-template-page-drobilki {
		.b-stages_items .col-lg-3 {
			max-width: 100%;
			min-height: 245px;
			text-align: center;
		}
		.page h1 {
			margin: 30px 0;
			text-align: center;
			line-height: 60px;
			text-transform: uppercase;
			font-size: 32px;
		}
	}
}
.b-ticker {
	display: none;
}
.b-cover__item1:not(:last-child) {
	margin-bottom: 0px;
}
.b-cover__item-icon1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 85px;
	height: 110px;
	background-position: 0px;
	font-size: 18px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	background-size: 80%;
	background-repeat: no-repeat;
	background-color: #0000;
	background-image: url(http://smartscrap.ru/wp-content/uploads/2019/01/zheltaya-galochka.png);
}
.b-cover__item-desc1 {
	font-size: 15px;
}
.spis1 {
	margin-left: 30px;
	padding: 5px;
	list-style-type: square;
}
.header_nav ul li {
	display: inline-block;
	vertical-align: middle;
	padding: 10px 17px !important;
	font-size: 10px;
}
.old1 {
	> li {
		float: left;
	}
	margin-left: 65px;
	margin-top: 7px;
}
#menu-item-289,
#menu-item-290,
#menu-item-291,
#menu-item-292 {
	display: none;
}
.bab {
	background-image: url(http://smartscrap.net/wp-content/uploads/2017/04/foto-so-mnoj-1-1024x498.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 70px;
	padding-top: 70px;
}
.bab1 {
	width: 469px;
	background-color: #ffffffdb;
	padding: 6px 30px;
	padding-bottom: 35px;
	position: relative;
	left: 56%;
}
.input-tel1 {
	width: 78% !important;
}
.input-cod1 {
	float: left !important;
	width: 20% !important;
	margin-right: 2% !important;
}
