.block-video{
	padding: 50px 0;
	.block-left,
	.block-right{
		width: calc(100% / 2);

	}
	.col-lg{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
	}
	.block-left{
		padding: 20px 20px 20px 0;
		h3{
			font-size: 38px;
			text-transform: uppercase;
			line-height: 1.3;
			margin-bottom: 30px;
		}
	}
	.block-right{
		padding: 20px 0 20px 20px;
		.video{
			margin-bottom: 20px;
			iframe{
				width: 100%;
			}
		}
		p{
			margin-bottom: 20px;
		}
		.btn-yellow{
			background: #ff9700;
			color: #fff;
			&:hover{
				background: #ff8400;
			}
		}
	}
}
.slider-banner{
	overflow: hidden;
	video,
	img{
		object-fit: cover;
		object-position: center;

	}
	.video,
	img{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	}
	.item{
		height: calc(100vh - 163px);
		min-height: 620px;
		position: relative;
		padding: 65px 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.slider-content{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-end;
	}
	.description{
		max-width: 515px;
		width: 100%;
		h1{
			font-size: 38px;
			text-transform: uppercase;
			line-height: 1.3;
			font-weight: 700;
			margin-bottom: 20px;
		}
		p{
			font-size: 24px;
			margin-bottom: 20px;
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
	.btn{
		width: inherit;

	}
	.block-left{
		color: #fff;
		margin-right: 15px;
		background: rgba(255,132,0,0.5);
		padding: 50px;
		align-items: flex-end;
	}
	.block-right{
		margin-left: 15px;
		justify-content: flex-end;
		.btn {
			width: inherit;
		}
	}
	.block-left,
	.block-right{
		width: calc(100% / 2 - 15px);
		z-index: 1;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
	}
}
.block-videos{
	padding: 50px 0;
	h3{
		text-align: center;
		margin-bottom: 20px;
	}
	.btn{
		margin: 0 auto;
		display: table;
	}
}
.videos{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 30px;
	.item{
		width: calc(100% / 3 - 20px);
		margin-right: 20px;
		iframe{
			margin-bottom: 20px;
		}
		&:nth-of-type(3n){
			margin-right: 0;
		}
	}
}
.description-block{
	padding: 50px 0;
	h3 {
		font-size: 38px;
		text-transform: uppercase;
		line-height: 1.3;
		margin-bottom: 30px;
		text-align: center;
	}
	.content-description{
		max-width: 850px;
		width: 100%;
		margin: 0 auto;
		&.center{
			text-align: center;
		}
	}
}
.advantages{
	padding: 50px 0;
	text-align: center;
	.items{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 50px;
	}
	.item{
		width: calc(100% / 4 );
		padding: 0 13px;
	}
	h2{
		margin-bottom: 50px;
	}
	img{
		margin-bottom: 40px;
	}
}
.in-page{
	padding: 50px 0;
	.b-video_wrap{
		width: 100%;
		padding: 0;
		height: auto;
		margin: 0 0 30px;
		iframe{
			position: initial;
			height: auto;
		}
	}
}
.projects{
	padding: 50px 0;
	color: #fff;
	position: relative;
	&:before{
		background:rgba(255,132,0,.5);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
	}
	.btn{
		margin: 20px auto 0;
		display: table;
	}
	h2
	{
		margin-bottom: 50px;
		text-align: center;
	}
	h3{
		font-size: 38px;
		line-height: 1.3;
		text-align: center;
		margin-bottom: 30px;
	}
	h4{
		font-size: 30px;
		text-align: right;
		margin-top: 0;
		margin-bottom: 10px;
	}
	p{
		font-size: 24px;
		text-align: center;
		margin-bottom: 20px;
	}
	img{
		margin-bottom: 30px;
		width: 100%;
		height: 590px;
		object-fit: cover;
		object-position: center;
	}
	.slick-dots{
		bottom: 0;
	}
}
.projects-slider{
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}
