/*   

Theme Name: your-clean-template-3

Theme URI: https://github.com/saxap/clean-wp-template

Version: 3.0

Tags: clean, development, html5, bootstrap

Description: Clean wordpress theme with minimal bootstrap3 markup for fast development starting

Author: saxa:p

Author URI: http://dontforget.pro

*/





@media (min-width: 979px) { 

	ul.nav li.dropdown.show-on-hover:hover > ul.dropdown-menu { /* для раскрывания субменю по наведению */

		display: block;

	}

	.comment-list .children { /* для комментов */

		padding: 0;

		margin-left: 74px;

		padding-bottom: 15px;

	}

	.comment-list .media {

		margin-top: 0;

	}

}



/* =WordPress Core

-------------------------------------------------------------- */

.alignnone {

    margin: 5px 20px 20px 0;

}



.aligncenter,

div.aligncenter {

    display: block;

    margin: 5px auto 5px auto;

}



.alignright {

    float: right;

    margin: 5px 0 20px 20px;

}



.alignleft {

    float: left;

    margin: 5px 20px 20px 0;

}



a img.alignright {

    float: right;

    margin: 5px 0 20px 20px;

}



a img.alignnone {

    margin: 5px 20px 20px 0;

}



a img.alignleft {

    float: left;

    margin: 5px 20px 20px 0;

}



a img.aligncenter {

    display: block;

    margin-left: auto;

    margin-right: auto

}



.wp-caption {

    background: #fff;

    border: 1px solid #f0f0f0;

    max-width: 96%; /* Image does not overflow the content area */

    padding: 5px 3px 10px;

    text-align: center;

}



.wp-caption.alignnone {

    margin: 5px 20px 20px 0;

}



.wp-caption.alignleft {

    margin: 5px 20px 20px 0;

}



.wp-caption.alignright {

    margin: 5px 0 20px 20px;

}



.wp-caption img {

    border: 0 none;

    height: auto;

    margin: 0;

    max-width: 98.5%;

    padding: 0;

    width: auto;

}



.wp-caption p.wp-caption-text {

    font-size: 11px;

    line-height: 17px;

    margin: 0;

    padding: 0 4px 5px;

}



/* Text meant only for screen readers. */

.screen-reader-text {

	clip: rect(1px, 1px, 1px, 1px);

	position: absolute !important;

	height: 1px;

	width: 1px;

	overflow: hidden;

}



.screen-reader-text:focus {

	background-color: #f1f1f1;

	border-radius: 3px;

	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);

	clip: auto !important;

	color: #21759b;

	display: block;

	font-size: 14px;

	font-size: 0.875rem;

	font-weight: bold;

	height: auto;

	left: 5px;

	line-height: normal;

	padding: 15px 23px 14px;

	text-decoration: none;

	top: 5px;

	width: auto;

	z-index: 100000; /* Above WP toolbar. */

}

.b-ticker {

    padding: 6px 0;

    background-color: #ff9800;

    box-shadow: inset 0 0 10px rgba(0,0,0,.35);

}

.b-ticker__wrap {

    overflow: hidden;

    white-space: nowrap;

}

@-webkit-keyframes scroll {

    0% {

        -webkit-transform: translate(0, 0);

        transform: translate(0, 0);

    }

    100% {

        -webkit-transform: translate(-100%, 0);

        transform: translate(-100%, 0)

    }

}

@-moz-keyframes scroll {

    0% {

        -moz-transform: translate(0, 0);

        transform: translate(0, 0);

    }

    100% {

        -moz-transform: translate(-100%, 0);

        transform: translate(-100%, 0)

    }

}

@keyframes scroll {

    0% {

        transform: translate(0, 0);

    }

    100% {

        transform: translate(-100%, 0)

    }

}

.marquee {

    display: block;

    width: 100%;

    white-space: nowrap;

    overflow: hidden;

}



.marquee span {

    display: inline-block;

    padding-left: 100%;

	color: #fff;

    -webkit-animation: scroll 10s infinite linear;

    -moz-animation: scroll 10s infinite linear;

    animation: scroll 10s infinite linear;

}

.product h1 {

	margin: 15px 0;

}

.header_logo {

    margin-top: 5px;

}



.header_top .header_lang {



}

.header_top .header_lang ul {

	margin: 0;

}

.header_top .header_lang li {

    margin-left: 20px;

}

.header_top .header_lang img {

	width: 35px;

}



.dropdown-menu {

	display: none;

	margin-left: -20px;

    max-width: 370px;

	padding-top: 10px;

	padding-bottom: 20px;

	position: absolute;

	top: 36px;

    background: #fafafa;

	z-index: 999;

    box-shadow: 0 7px 10px rgba(0,0,0,.35);

}

.header_nav ul.dropdown-menu li {

	display: block;

	width: 100%;

	float: left;

    padding: 10px 25px;

}

.b-slider__slide {

    background-size: cover;

    background-repeat: no-repeat;

    background-position: 50% 0;

}

.b-slider {

    color: #fff;

}

.page-template-page-drobilki .page h1 {

	margin: 90px 0;

	text-align: center;	

    line-height: 60px;

    text-transform: uppercase;

    font-size: 52px;

}

article.page {

	margin: 20px 0 40px;

}

.subpages {

	margin: 40px 0;

}

.subpages .page-list-ext .page-list-ext-item {

    clear: none;

	text-align: center;

}

.subpages .page-list-ext-item .page-list-ext-image img {

	overflow: hidden;

    border-radius: 50%;

    border: 5px solid rgba(255,152,0,.54);

}

.subpages .page-list-ext-title {

	font-size: 20px;

}

.section.page-we-sold {

	padding-top: 10px;

}

.b-contacts2 {

    padding: 30px 15px;

    text-align: center;

    background: #fff;

}

.page-template-page-product .b-contacts2 .title-line .title-line-left {

    top: 20px;

}

.page-template-page-product .b-contacts2 .title-line .title-line-right {

    top: 20px;

}

.b-contacts__title {

    margin-bottom: 30px

}

.section.page-history {

    padding-top: 10px;

}

.timeline-h ul li {

	padding-bottom: 10px;

	min-height: 160px;

}

.timeline-h .timeline-title {

    margin-bottom: 10px;

}

.timeline-dots-h {

    position: relative;

	top: 10px;

    left: 90px;

}

.timeline-dots-h ul a.active {

    background: #ff9700;

	display: block;

    width: 20px;

    height: 20px;

    border-radius: 50%;

    font: 0/0 a;

    color: transparent;

}

.timeline-dots-h li {

	height: 160px;

}

.timeline-dots-line-h, .timeline-dots:before {

    position: absolute;

    width: 3px;

	left: 8px;

    background: #ff9700;

}

.page-template-page-product .section {

    padding: 30px 0;

}

.b-slider__lside h1,

.b-slider__desc3,

.b-slider__desc2,

.b-slider__desc1,

.page-template-page-product .b-cover__subtitle,

.page-template-page-product .b-cover__title {

	text-shadow: 1px 1px 4px black;

}

body > div.page > section.b-cover > div > div.b-cover__side.js-slider-dots > h1, body > div.page > div.b-cover > div.container > div > div:nth-child(1) > div > h1

{

    margin: 20px 0 35px;

    text-transform: uppercase;

    font-size: 52px !important;

    text-shadow: 1px 1px 4px black;

}

.page-template-page-product .title-line .title-line-left {

	position: absolute;

    left: 30px;

    top: 30px;

    display: block;

    background: #ff9700;

    height: 4px;

    width: 200px;

}

.page-template-page-product .title-line .title-line-right {

	position: absolute;

    right: 30px;

    top: 30px;

    display: block;

    background: #ff9700;

    height: 4px;

    width: 200px;

}

.page-template-page-product .row.b-consult_wrap {

	display: block;

}

.single-post .b-consult,

.blog .b-consult {

	display: none;

}

.page-blog {

	padding-top: 20px;

	padding-bottom: 20px;

}

.page h1 {

	font-size: 32px;

}

.page-blog h1 {

	margin-bottom: 20px;

    font-size: 32px;

}

.page-blog .post h3 {

	margin: 20px 0;

}

.page-blog .post {

	background: #fafafa;

	margin-bottom: 20px;

}

.page-blog .post p {

	margin-bottom: 10px;

}

.page-blog .post .more {

    float: right;

	margin-top: 20px;

    margin-right: 20px;

}

.single-post .share,

.page-blog .share {

	margin-top: 20px

}

.single-post .ya-share2__container_size_m .ya-share2__icon,

.page-blog .ya-share2__container_size_m .ya-share2__icon {

    width: 35px;

    height: 35px;

}

.single-post .post {

	margin: 20px 0 40px;

}

.single-post .post h1 {

	font-size: 38px;

	margin-bottom: 20px;

}

.single-post .post .meta {

	margin-bottom: 10px;

	font-weight: 600;

}

.page-template-page-drobilki .section-title {

    margin-bottom: 35px;

	text-align: left;

}

.page-template-page-pererabotka .b-stages_items .col-lg-3,

.page-template-page-drobilki .b-stages_items .col-lg-3 {

    -webkit-box-flex: 0;

    -ms-flex: 0 0 25%;

    flex: 0 0 25%;

    max-width: 25%;

    min-height: 245px;

}



.section-title h2 {

    line-height: 1.375;

}

.page-template-page-product .section-title h2 {

    line-height: 1.375;

	max-width: 680px;

    margin: 0 auto;



}

.section-title h2 span {

    color: #f8982d;

}

.b-stages_items {

    background: url(../your-clean-template-3/slagprocessing/img/b-stages/bg.png) no-repeat 0 0;

}

.b-stages_item {

    text-align: left;

}

.b-stages_item {

    text-align: left;

    margin-bottom: 45px;

}

.b-stages_item_desc {

    -webkit-transition: color .3s;

    transition: color .3s;

}

.b-stages_item_icon {

    position: relative;

    display: -webkit-inline-box;

    display: -ms-inline-flexbox;

    display: inline-flex;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;

    width: 80px;

    height: 80px;

    margin-bottom: 15px;

    background: #fbfbfb;

    -webkit-transition: box-shadow .3s;

    transition: box-shadow .3s;

}

.b-stages_item_icon, .b-stages_item_icon span {

    border-radius: 50%;

    box-shadow: 0 19px 32px rgba(25,25,25,.1);

}

.b-stages_item:hover .b-stages_item_icon {

    box-shadow: 0 19px 32px rgba(248,152,45,.2);

}

.b-stages_item_icon span {

    display: block;

    width: 29px;

    height: 29px;

    position: absolute;

    top: -6px;

    right: -6px;

    color: #fbfbfb;

    font-weight: 400;

    line-height: 29px;

    text-align: center;

    background: #f8982d;

}

.b-stages_item:hover .b-stages_item_icon img {

    -webkit-filter: none;

    filter: none;

}

.b-stages_item:hover .b-stages_item_desc {

    color: #f8982d;

}

.flex-items-xs-center {

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;

    text-align: center;

}





.page-template-page-drobilki .input, .page-template-page-drobilki .textarea {

    height: 50px;

    width: 100%;

    padding: 0 20px;

    font-size: 1em;

    font-weight: 400;

    line-height: 1;

    color: #737f83;

    background: #fff;

    border: 1px solid #fff;

    border-radius: 2px;

    box-shadow: 0 3px 10px rgba(0,0,0,.04);

    -webkit-transition: all .3s ease;

    transition: all .3s ease;

    -webkit-transition-property: border,background,color,box-shadow;

    transition-property: border,background,color,box-shadow;

}

.modal-title span {

    color: #f8982d;

}



.b-cover__slider li {

min-height: 500px;

}

.b-cover__overlay {

padding-left: 40px;

}

.b-cover__description {

font-size: 32px;

line-height: 48px;

text-shadow: 1px 1px 4px black;

}

.b-cover__description2 {text-shadow: 1px 1px 4px black;}

.post-149 {	text-align: center;}



.page-template-page-we-buy article.page {

    margin: 20px 0;

}

.page-template-page-we-buy .b-suppliers_top {	background: #fff;	color: #6e6e6e;	padding: 20px 0;}

.page-template-page-we-buy .b-suppliers_top .section-title h2 {	

	margin-top: 30px;

}

.page-template-page-we-buy .b-suppliers_top:before {	display: none;}



.page-template-page-pererabotka .section .section-title {

    text-align: inherit;

}

.page-template-page-pererabotka .section-title h2 {

    font-size: 40px;

}

.page-template-page-about .b-cover__slider li {

    min-height: 600px;

}

.page-template-page-about .b-quality2_title {

	margin-bottom: 20px;

}

.page-template-page-about .b-quality2_item h3 {

    line-height: 1.375;

    max-width: 710px;

    margin: 20px auto;

}

.page-template-page-about .title-line .title-line-left {

    position: absolute;

    left: 140px;

    top: 35px;

    display: block;

    background: #ff9700;

    height: 4px;

    width: 60px;

}

.page-template-page-about .b-video_wrap {

    margin: 20px 0;

}

.b-reg {

    background: url(../your-clean-template-3/img/b-reg.png) no-repeat 50% 0;

    background-size: cover;

}

.b-reg_desc h3 {

    font-size: 38px;

    text-transform: uppercase;

    line-height: 1.3;

    margin-top: 50px;

}

.b-reg_wrap {

    padding: 0 30px 20px 30px;

	background: #fff;

}

.b-reg_wrap h4 {

	text-transform: uppercase;

	color: #ff9700;

    font-size: 24px;

	font-weight: 400;

	text-align: center;

}

.b-download_wrap h4 {

	text-transform: uppercase;

	color: #ff9700;

    font-size: 22px;

	font-weight: 400;

	text-align: center;

}

.b-download_desc h3 {

    font-size: 38px;

    line-height: 1.2;

    margin-top: 50px;

	margin-bottom: 10px;

}

.b-download_desc p {

	font-size: 20px;

}

.b-excel img {

	margin-top: 55px;

}

.b-plus_item_title {

    padding-top: 190px;

}

.b-promo.o-nas {

    color: #fff;

    background: #26304b;

    padding: 40px 0;

}

.delimiter {

	font-weight: 600 !important;

	font-size: 18px;

}

.delimiter a {

	cursor: default;

	font-weight: 600 !important;

}

.delimiter a:hover {

	color: #6e6e6e;

}

.page-template-page-product .section.b-delivery {

	background: #fff;

}

.top-menu .soc-icon {

	width: 32px;

	height: 32px;

	overflow: hidden;

	margin-left: 10px;

	padding: 6px 0;

}

.top-menu .soc-icon a:hover,

.top-menu .soc-icon a {

	color: #fafafa;

	opacity: 0;

	width: 32px;

} 

.soc-icon.facebook {

    background: url(/wp-content/themes/your-clean-template-3/img/fs.png) no-repeat;

    background-size: contain;

}

.soc-icon.twitter {

    background: url(/wp-content/themes/your-clean-template-3/img/twitter.png) no-repeat;

    background-size: contain;

}

.soc-icon.linkedin {

    background: url(/wp-content/themes/your-clean-template-3/img/l-in.png) no-repeat;

    background-size: contain;

}

.soc-icon.youtube {

    background: url(/wp-content/themes/your-clean-template-3/img/you-tube.png) no-repeat;

    background-size: contain;

}

#wprmenu_menu.wprmenu_levels ul li.soc-icon a {

	padding-left: 55px;

}

#wprmenu_menu.wprmenu_levels ul li.soc-icon {

	background-size: 40px;

    background-position: 10px center;

}



@media (max-width: 1025px) {

.header_nav .container {

    width: 100%;

}

.page-template-page-product .title-line .title-line-left {

    left: 10px;

    width: 12%;

}

.page-template-page-product .title-line .title-line-right {

    right: 10px;

    width: 12%;

}

.owl-theme .owl-controls {

	display: none !important;

}

}

@media (max-width: 770px) {

.page-template-page-product .title-line .title-line-left {

    top: 20px;

}

.page-template-page-product .title-line .title-line-right {

    top: 20px;

}

.b-reg_desc h3 {

    margin-top: 30px;

    margin-bottom: 40px;

}

.page {

	overflow-x: hidden;

}

.page-template-page-product .section-title h2 {

    max-width: 360px;

}

}

@media (max-width: 450px) {

.page {

    overflow-x: inherit;

}

.header_phone {

    display: none;

}

.page-blog .post .more {

    float: none;

    text-align: center;

    margin-right: 0;

    margin-bottom: 20px;

}

.b-cover__side {

    padding: 10px 14px;

}

body > div.page > section.b-cover > div > div.b-cover__side.js-slider-dots > h1, 

body > div.page > div.b-cover > div.container > div > div:nth-child(1) > div > h1 {

	font-size: 46px !important;

    margin: 5px 0 35px;

}

.b-cover__description {

    margin-bottom: 15px;

    font-size: 20px;

    line-height: 28px;

    font-weight: 300;

    text-transform: uppercase;

}

.b-cover__description2 {

    margin-top: 5px;

}

.b-reg,

.b-download {

	text-align: center;

}

.b-reg_desc h3 {

    font-size: 28px;

}

.page-template-page-about .title-line .title-line-left {

    position: absolute;

    left: 25%;

    top: 0px;

    display: block;

    background: #ff9700;

    height: 4px;

    width: 50%;

}

.b-consult_desc, .b-consult_wrap {

    padding: 20px;

}

.b-cover__lside {

    padding: 40px 15px;

}

body > div.page > div.b-cover > div.container > div > div:nth-child(1) > div > h1 {

    font-size: 42px !important;

}

.page-template-page-product .title-line .title-line-right {

	top: 32px;

    right: 20%;

    width: 50%;

}

.page-template-page-product .title-line .title-line-left {

    top: 32px;

    left: 20%;

    width: 50%;

}

.page-template-page-product .b-contacts2 .title-line .title-line-right {

    top: 32px;

}

.page-template-page-product .b-contacts2 .title-line .title-line-left {

    top: 32px;

}

.page-blog .post {

    margin: 15px;

}

.b-slider__inner {

	padding-top: 40px;

}

.b-slider__desc2 {

	font-size: 60px;

}

.page-template-page-pererabotka .section-title h2 {

    font-size: 32px;

}

.page-template-page-pererabotka .b-stages_items .col-lg-3, 

.page-template-page-drobilki .b-stages_items .col-lg-3 {

    max-width: 100%;

    min-height: 245px;

    text-align: center;

}

.page-template-page-drobilki .page h1 {

    margin: 30px 0;

    text-align: center;

    line-height: 60px;

    text-transform: uppercase;

    font-size: 32px;

}

}

.b-ticker{

display:none;

}

.b-cover__item1:not(:last-child) {

    margin-bottom: 0px;

}

.b-cover__item-icon1 {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

    -ms-flex-direction: column;

    flex-direction: column;

    -ms-flex-negative: 0;

    flex-shrink: 0;

    width: 85px;

    height: 110px;

    background-position: 0px;

    font-size: 18px;

    font-weight: 700;

    line-height: 1;

    color: #fff;

    background-size: 80%;

    background-repeat: no-repeat;

    background-color:#0000;

    background-image: url(http://smartscrap.ru/wp-content/uploads/2019/01/zheltaya-galochka.png);

}

.b-cover__item-desc1 {

    font-size: 15px;

}

.spis1 {

    margin-left: 30px;

    padding: 5px;

    list-style-type: square;

}
.header_nav ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 17px !important;
    font-size: 10px;
}
.old1>li{
    float: left;
}
.old1{
        margin-left: 65px;
    margin-top: 7px;
}
#menu-item-289,#menu-item-290,#menu-item-291,#menu-item-292{
    display: none;
}
.bab {
    background-image: url(http://smartscrap.net/wp-content/uploads/2017/04/foto-so-mnoj-1-1024x498.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 70px;
    padding-top: 70px;
}
.bab1 {
    width: 469px;
    background-color: #ffffffdb;
    padding: 6px 30px;
    padding-bottom: 35px;
    position: relative;
    left: 56%;
}
.input-tel1{
width: 78%!important;
}
.input-cod1{
    float: left!important;
    width: 20%!important;
    margin-right: 2%!important;
}
